<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <app-breadcrumb [breadcrumbData]="breadcrumbObj"></app-breadcrumb>
  <div>
    <section class="content">
      <div class="container-fluid">

        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title">{{applicationListLabel}}</h5>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"> <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <ngx-spinner name="dashboardDetailLoader" [fullScreen]="false" type="timer" size="medium"></ngx-spinner>

                <div class="row">
                  <div class="col-md-12">
                    <div class="table-responsive">
                      <table class="table m-0 table-bordered">
                        <thead>
                          <tr>
                            <th>S. No.</th>
                            <th>Application No.</th>
                            <th>Applicant Name</th>
                            <th>Application For</th>
                            <th>Mobile</th>
                            <th>Email</th>
                            <th>Nature of Business</th>
                            <!-- <th>Submitted On</th> -->
                            <!-- <th>Status</th>
                            <th>Remarks</th> -->
                            <!-- <th>Updated On</th> -->
                            <th class="actionData ">Action</th>
                          </tr>
                        </thead>
                        <tbody>

                          <tr
                            *ngFor="let adminDashboardData of dataDashboardList  | paginate: paginateConfig;let i = index">
                            <td>{{paginateConfig.startIndex+i}}</td>
                            <td>{{adminDashboardData.id}}</td>
                            <td>{{adminDashboardData.applicant_name}}</td>
                            <td>{{adminDashboardData.application_for}}</td>
                            <td>{{adminDashboardData.mobile}}</td>
                            <td>{{adminDashboardData.email}}</td>
                            <td>{{adminDashboardData.business_nature}}</td>
                            <!-- <td>{{adminDashboardData.created_on | date: 'dd-MM-yyyy h:mm a'}}</td> -->
                            <!-- <td>{{adminDashboardData.application_status}}</td>
                            <td>{{adminDashboardData.remarks}}</td> -->
                           <!--  <td><span
                                *ngIf="adminDashboardData.updated_on!='0000-00-00 00:00:00'">{{adminDashboardData.updated_on
                                | date: 'dd-MM-yyyy h:mm a'}}</span></td> -->
                            <td class="actionbtn">
                              <a class="btn btn-primary btn-xs" (click)="viewInvoice(adminDashboardData)">View Invoice</a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>

                  </div>
                </div>
              </div>
              <div class="card-footer">
                <pagination-controls (pageChange)="getDashboardDetail($event)" id="server"></pagination-controls>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
  </div>
</div>
<ngx-spinner name="dashboardHistoryLoader" [fullScreen]="false" type="timer" size="medium"></ngx-spinner>

<ng-template #userModal let-modal>

  <div class="modal-header primary">
    <h4 class="modal-title" id="modal-basic-title">Official remarks history</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body" *ngIf="adminDashboardApplicationHistory.length>0">
    <div class="profile-feed" *ngFor="let adminDashboardApplicationHistoryData of adminDashboardApplicationHistory">
      <div class="d-flex align-items-start profile-feed-item">
        <div class="ml-4">
          <h6>
            {{adminDashboardApplicationHistoryData.role_name}}
            <small class="ml-4 text-muted"><i class="fa fa-clock mr-1"></i>
              {{adminDashboardApplicationHistoryData.assigned_dated_on | date: 'dd-MM-yyyy h:mm a'}}</small>
          </h6>
          <p> {{adminDashboardApplicationHistoryData.remarks}} </p>
        </div>
      </div>
      <hr>

    </div>
  </div>
  <div class="modal-body" *ngIf="adminDashboardApplicationHistory.length==0">
    No History found
  </div>

  <!-- <div class="modal-footer">
      <button type="button" class="btn btn-primary" [disabled]="btnSpinner" *ngIf="formEditable" (click)="onRegisterFormSubmit()"><i class="fa fa-sign-in fa-lg fa-fw" *ngIf="!btnSpinner"></i>Save</button>
      <button type="button" class="btn btn-secondary" (click)="modal.close('Save click')">Close</button>
  </div> -->
</ng-template>
