<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <app-breadcrumb [breadcrumbData]="breadcrumbObj"></app-breadcrumb>
  
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <!-- Default box -->
            <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title">Date-wise report (Total: {{totalRecord}})</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                    title="Collapse">
                    <i class="fas fa-minus"></i></button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip"
                    title="Remove">
                    <i class="fas fa-times"></i></button>
                </div>
              </div>
              <div class="card-body">
                <ngx-spinner name="dataTableLoader" [fullScreen]="false" type="timer" size="medium"></ngx-spinner>
                <form class="form" (ngSubmit)="getData()" [formGroup]="searchForm" autocomplete="off">
                <div class="row">
                  <div class="col-2">
                    <label class="col-form-label">Report Type :</label>
                    <select class="form-control" formControlName="reportType">
                        <option *ngFor="let rptTyp of reportTypes" [value]="rptTyp.keys">{{rptTyp.values}}</option>
                    </select>
                  </div>
                  <div class="col-2">
                    <label class="col-form-label">Data :</label>
                    <select class="form-control" formControlName="dataType">
                        <option *ngFor="let dataType of dataTypes" [value]="dataType.keys">{{dataType.values}}</option>
                    </select>
                  </div>
                  <div class="col-2">
                    <label class="col-form-label">From Date :</label>
                    <input matInput formControlName="fromdate"  class="form-control" [matDatepicker]="start_date" placeholder="Start date" (click)="start_date.open()" readonly>            
                    <mat-datepicker #start_date></mat-datepicker>
                  </div>
                  <div class="col-2">
                    <label class="col-form-label">To Date :</label>
                    <input matInput formControlName="todate"  class="form-control" [matDatepicker]="end_date" placeholder="End date" (click)="end_date.open()" readonly>            
                    <mat-datepicker #end_date></mat-datepicker>
                  </div>
                  <div class="col-2">
                    <label class="col-form-label">&nbsp;</label>
                    <button class="form-control btn btn-primary" [disabled]="btnSrchSpinner"><i class="fa fa-spinner fa-spin" *ngIf="btnSrchSpinner"></i>Search</button>
                  </div>
                </div>
                </form>
                <table class="table table-striped table-responsive">
                  <thead>
                    <tr>
                      <th style="min-width: 50px;">SN</th>
                      <th style="min-width: 100px;">Type</th>
                      <th style="min-width: 150px;">Date</th>
                      <th style="min-width: 150px;">Template ID</th>
                      <th style="min-width: 150px;">DLT Template ID</th>
                      <th style="min-width: 150px;">Campaign ID</th>
                      <th style="min-width: 150px;">Acknowledgement ID</th>
                      <th style="min-width: 150px;">Mobile</th>
                      <th style="min-width: 150px;">SMS Lang</th>
                      <th style="min-width: 150px;">SMS Type</th>
                      <th style="min-width: 150px;">SMS Account Name</th>
                      <th style="min-width: 800px;">SMS Text</th>
                      <th style="min-width: 150px;">Request Send Status</th>
                      <th style="min-width: 150px;">NIC Gateway Status</th>
                      <th style="min-width: 150px;">Operator ACK Status</th>
                      <th style="min-width: 150px;">Application Request DateTime</th>
                      <th style="min-width: 150px;">Application Request Accepted DateTime</th>
                      <th style="min-width: 150px;">Request Sent to NIC DateTime</th>
                      <th style="min-width: 150px;">NIC Response DateTime</th>
                      <th style="min-width: 200px;">Fail reason</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let rptData of reportData | paginate: paginateConfig;let i = index">
                      <td>{{i+1}}</td>
                      <td>{{rptData.Type}}</td>
                      <td>{{rptData.dataDate}}</td>
                      <td>{{rptData.Type}}</td>
                      <td>{{rptData.Type}}</td>
                      <td>{{rptData.campaignID}}</td>
                      <td>{{rptData.responseID}}</td>
                      <td>{{rptData.MobileNumber}}</td>
                      <td>{{rptData.Type}}</td>
                      <td>{{rptData.Type}}</td>
                      <td>{{rptData.Type}}</td>
                      <td>{{rptData.SMSText}}</td>
                      <td>{{rptData.RequestSendStatus}}</td>
                      <td>{{rptData.NICGatewayStatus}}</td>
                      <td>{{rptData.OperatorACKStatus}}</td>
                      <td>{{rptData.OtherApplicationRequestTime}}</td>
                      <td>{{rptData.RequestTime}}</td>
                      <td>{{rptData.RequestSent}}</td>
                      <td>{{rptData.ResponseRecieved}}</td>
                      <td>{{rptData.Error}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <pagination-controls (pageChange)="pageChanged($event)" id="server"></pagination-controls>
              </div>
              <!-- /.card-footer-->
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->