<div class="content-wrapper">
    <app-breadcrumb [breadcrumbData]="breadcrumbObj"></app-breadcrumb>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="card pdfdetaildata">
                <div class="card-header text-right">
                    <button type="button" class="btn btn-success" (click)="openPDF()"><i class="fa fa-download" aria-hidden="true"></i> Download Application </button>
                </div>
                <div class="card-body" id="content" #content>

                    <div class="tabcont">
                        <div class="row">
                            <div class="col-md-12">
                                <h5>Step 1</h5>
                                <hr>
                                <div class="tabcont">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-6 col-form-label">1. Application For</label>
                                                <div class="col-sm-6" *ngIf="viewDataPDF.application_for">
                                                    {{viewDataPDF.application_for}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row" *ngIf="viewDataPDF.specify">
                                                <label class="col-sm-6 col-form-label">Please specify</label>
                                                <div class="col-sm-6">
                                                    {{viewDataPDF.specify}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="mt-0" />
                                    <p class="card-description">2. General information:—</p>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-6 col-form-label">(1) Name of Applicant</label>
                                                <div class="col-sm-6">
                                                    {{viewDataPDF.applicant_name}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-6 col-form-label">(2) Name of Authorised
                                                    Person</label>
                                                <div class="col-sm-6" *ngIf="viewDataPDF.auth_person!='Other'">
                                                    {{viewDataPDF.auth_person}}
                                                </div>
                                                <div class="col-sm-6" *ngIf="viewDataPDF.auth_person=='Other'">
                                                    {{viewDataPDF.auth_person_other}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-6 col-form-label">(3) Mobile/Phone No.</label>
                                                <div class="col-sm-6">
                                                    {{viewDataPDF.mobile}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-6 col-form-label">(4) Email</label>
                                                <div class="col-sm-6">
                                                    {{viewDataPDF.email}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-6 col-form-label">(5) Address of Organisation /
                                                    Registerd Office</label>
                                                <div class="col-sm-6">
                                                    {{viewDataPDF.address}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-6 col-form-label">(6) Licence No., if any</label>
                                                <div class="col-sm-6">
                                                    {{viewDataPDF.licence}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-6 col-form-label">(7) Nature of Business</label>
                                                <div class="col-sm-6">
                                                    {{viewDataPDF.business_nature}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">

                                            </div>
                                        </div>
                                    </div>
                                    <hr class="mt-0" />
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-6 col-form-label">(8) Name of Food</label>
                                                <div class="col-sm-6">
                                                    {{viewDataPDF.food_name_ddl}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-6 col-form-label">(9) Type of Food</label>
                                                <div class="col-sm-6">
                                                    {{viewDataPDF.food_type_ddl}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-6 col-form-label">(10) Justification of the
                                                    Name</label>
                                                <div class="col-sm-6">
                                                    {{viewDataPDF.justification}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-6 col-form-label">(11) Proposed Product
                                                    Category</label>
                                                <div class="col-sm-6">
                                                    {{viewDataPDF.proposed_prod_cat}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-6 col-form-label">(12) Source of Food
                                                    Ingredients</label>
                                                <div class="col-sm-6">
                                                    {{viewDataPDF.food_source_ingrd}}
                                                </div>
                                            </div>

                                            <div class="form-group row" *ngIf="viewDataPDF.food_source_ingrd!='Chemical'">
                                                <label class="col-sm-6 col-form-label">(12.a) Genus and Species of the organism</label>
                                                <div class="col-sm-6">
                                                    {{viewDataPDF.genus_species}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-6 col-form-label">(13) Function Use</label>
                                                <div class="col-sm-6">
                                                    {{viewDataPDF.function_use}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-6 col-form-label">(14) Intended Use</label>
                                                <div class="col-sm-6">
                                                    {{viewDataPDF.intended_use}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="mt-0" />
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label class="col-sm-5 col-form-label">(15) Certificate of analysis from
                                                    third party NABL / ILAC / Accredited Laboratories </label>
                                                <div class="col-sm-7">
                                                    <a *ngIf="viewDataPDF.nabl_certificate_file" target="_blank" class="btn btn-info" href="{{uploadUrl}}{{viewDataPDF.nabl_certificate_file}}"><i class="fa fa-download" aria-hidden="true"></i> Download</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label class="col-sm-5 col-form-label">(16) Manufacturing process in
                                                    brief</label>
                                                <div class="col-sm-7">
                                                    <a target="_blank" class="btn btn-info" href="{{uploadUrl}}{{viewDataPDF.manufacturing_pro}}"><i class="fa fa-download" aria-hidden="true"></i> Download</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h5>Step 2</h5>
                                <hr>
                                <div class="tabcont">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label class="col-sm-5 col-form-label">(17) Regulatory Status</label>
                                                <div class="col-sm-7">
                                                    {{viewDataPDF.regulatory_status_ddl}}
                                                    <hr class="mt-2 mb-2" *ngIf="viewDataPDF.consumption_purpose_file">
                                                    <a *ngIf="viewDataPDF.consumption_purpose_file" target="_blank" class="btn btn-info" href="{{uploadUrl}}{{viewDataPDF.consumption_purpose_file}}"><i class="fa fa-download" aria-hidden="true"></i> Download</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label class="col-sm-5 col-form-label">(18) Copy of agreement with other
                                                    entities, if any</label>
                                                <div class="col-sm-7">
                                                    {{viewDataPDF.agreement_copy_ddl}}
                                                    <hr class="mt-2 mb-2" *ngIf="viewDataPDF.agreement_copy">
                                                    <a *ngIf="viewDataPDF.agreement_copy" target="_blank" class="btn btn-info" href="{{uploadUrl}}{{viewDataPDF.agreement_copy}}"><i class="fa fa-download" aria-hidden="true"></i> Download</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="card-description">
                                        Safety Information (Documentation on risk assessment or toxicity studies)
                                    </p>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label class="col-sm-5 col-form-label">(19) Safety Information</label>
                                                <div class="col-sm-7">
                                                    {{viewDataPDF.safetyInfo_ddl}}
                                                    <hr class="mt-2 mb-2" *ngIf="viewDataPDF.safetyInfo_file">
                                                    <a *ngIf="viewDataPDF.safetyInfo_file" target="_blank" class="btn btn-info" href="{{uploadUrl}}{{viewDataPDF.safetyInfo_file}}"><i class="fa fa-download" aria-hidden="true"></i> Download</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h5>Step 3</h5>
                                <hr>
                                <div class="tabcont">
                                    <p class="card-description mt-3">3. Additional specific information</p>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label class="col-sm-5 col-form-label">(a) Type</label>
                                                <div class="col-sm-7">
                                                    {{viewDataPDF.additional_specific_3a_ddl}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label class="col-sm-5 col-form-label">(I) The target group for the said
                                                    proposed food, if any</label>
                                                <div class="col-sm-7">
                                                    {{viewDataPDF.additional_specific_3a_txt1}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label class="col-sm-5 col-form-label">(II) Detailed composition of the
                                                    product</label>
                                                <div class="col-sm-7">
                                                    {{viewDataPDF.additional_specific_3a_txt2}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label class="col-sm-5 col-form-label">(III) Details of new
                                                    technology</label>
                                                <div class="col-sm-7">
                                                    {{viewDataPDF.additional_specific_3a_txt3}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label class="col-sm-5 col-form-label">(IV) Safety Information</label>
                                                <div class="col-sm-7">
                                                    {{viewDataPDF.additional_specific_3a_txt4}}
                                                    <hr class="mt-2 mb-2" *ngIf="viewDataPDF.additional_specific_3a_txt4_file">
                                                    <a *ngIf="viewDataPDF.additional_specific_3a_txt4_file" target="_blank" class="btn btn-info" href="{{uploadUrl}}{{viewDataPDF.additional_specific_3a_txt4_file}}"><i class="fa fa-download" aria-hidden="true"></i> Download</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label class="col-sm-5 col-form-label">(V) History of consumption of
                                                    food product/food ingredient</label>
                                                <div class="col-sm-7">
                                                    {{viewDataPDF.additional_specific_3a_txt5}}
                                                    <hr class="mt-2 mb-2" *ngIf="viewDataPDF.additional_specific_3a_file">
                                                    <a *ngIf="viewDataPDF.additional_specific_3a_file" target="_blank" class="btn btn-info" href="{{uploadUrl}}{{viewDataPDF.additional_specific_3a_file}}"><i class="fa fa-download" aria-hidden="true"></i> Download</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="card-description mt-3">(b) New additives</p>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label class="col-sm-5 col-form-label">(I) Chemical name and INS
                                                    No.</label>
                                                <div class="col-sm-7">
                                                    {{viewDataPDF.additional_specific_3b_one}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label class="col-sm-5 col-form-label">(II) Purity (food grade or
                                                    equivalent)</label>
                                                <div class="col-sm-7">
                                                    {{viewDataPDF.additional_specific_3b_two}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label class="col-sm-5 col-form-label">(III) Acceptable Daily Intake
                                                    (ADI) specified by JECFA or any other risk assessment body</label>
                                                <div class="col-sm-7">
                                                    {{viewDataPDF.additional_specific_3b_three}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label class="col-sm-5 col-form-label">(IV) Proposed level of use in
                                                    food category</label>
                                                <div class="col-sm-7">
                                                    {{viewDataPDF.additional_specific_3b_four}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label class="col-sm-5 col-form-label">(V) In case of colouring agent
                                                    provide (Colour Index) colour number, where applicable</label>
                                                <div class="col-sm-7">
                                                    {{viewDataPDF.additional_specific_3b_five}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="card-description mt-3">(c) New processing aids including enzymes:-</p>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label class="col-sm-5 col-form-label">(I) Specification</label>
                                                <div class="col-sm-7">
                                                    <a *ngIf="viewDataPDF.additional_specific_3c_1_file" target="_blank" class="btn btn-info" href="{{uploadUrl}}{{viewDataPDF.additional_specific_3c_1_file}}"><i class="fa fa-download" aria-hidden="true"></i> Download</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label class="col-sm-5 col-form-label">(II) Enzyme activity</label>
                                                <div class="col-sm-7">
                                                    <a *ngIf="viewDataPDF.additional_specific_3c_2_file" target="_blank" class="btn btn-info" href="{{uploadUrl}}{{viewDataPDF.additional_specific_3c_2_file}}"><i class="fa fa-download" aria-hidden="true"></i> Download</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label class="col-sm-5 col-form-label">(III) Purity</label>
                                                <div class="col-sm-7">
                                                    <a *ngIf="viewDataPDF.additional_specific_3c_3_file" target="_blank" class="btn btn-info" href="{{uploadUrl}}{{viewDataPDF.additional_specific_3c_3_file}}"><i class="fa fa-download" aria-hidden="true"></i> Download</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label class="col-sm-5 col-form-label">(IV) Residual limit in the final
                                                    product (in case of processing aid)</label>
                                                <div class="col-sm-7">
                                                    <a *ngIf="viewDataPDF.additional_specific_3c_4_file" target="_blank" class="btn btn-info" href="{{uploadUrl}}{{viewDataPDF.additional_specific_3c_4_file}}"><i class="fa fa-download" aria-hidden="true"></i> Download</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="card-description mt-3">(d) Articles of food and food ingredients consisting of or isolated from microorganisms, bacteria, yeast, fungi or algae
                                    </p>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label class="col-sm-5 col-form-label">Upload</label>
                                                <div class="col-sm-7">
                                                    <a *ngIf="viewDataPDF.additional_specific_3d_template_file" target="_blank" class="btn btn-info" href="{{uploadUrl}}{{viewDataPDF.additional_specific_3d_template_file}}"><i class="fa fa-download" aria-hidden="true"></i> Download</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="card-description mt-3">4. Any Other</p>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label class="col-sm-5 col-form-label">Comment(s)</label>
                                                <div class="col-sm-7">
                                                    {{viewDataPDF.additional_specific_4d_other}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label class="col-sm-5 col-form-label">Upload</label>
                                                <div class="col-sm-7">
                                                    <a *ngIf="viewDataPDF.additional_specific_4d_other_file" target="_blank" class="btn btn-info" href="{{uploadUrl}}{{viewDataPDF.additional_specific_4d_other_file}}"><i class="fa fa-download" aria-hidden="true"></i> Download</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="card-description mt-3">5. Payment Details</p>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label class="col-sm-5 col-form-label">Payment Status</label>
                                                <div class="col-sm-7">
                                                    {{viewDataPDF.payment_status}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label class="col-sm-5 col-form-label">Transaction ID</label>
                                                <div class="col-sm-7">
                                                    {{viewDataPDF.razorpay_payment_id}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label class="col-sm-5 col-form-label">Amount ({{viewDataPDF.currency}})</label>
                                                <div class="col-sm-7">
                                                    {{viewDataPDF.amount/100}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label class="col-sm-5 col-form-label">Paid on</label>
                                                <div class="col-sm-7">
                                                    {{viewDataPDF.created_at}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>