<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <app-breadcrumb [breadcrumbData]="breadcrumbObj"></app-breadcrumb>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <!-- Default box -->
          <div class="card card-info">
            <div class="card-header">
              <div class="card-title input-group input-group-sm" style="width: 200px;">
                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                <div class="input-group-append">
                  <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                </div>
              </div>
              <div class="card-tools">
                <button type="button" class="btn btn-secondary" (click)="addSubModule(subModuleModal)"><i class="fas fa-plus"></i> Add</button>
              </div>
            </div>
            <div class="card-body">
              <ngx-spinner name="dataTableLoader" [fullScreen]="false" type="timer" size="medium"></ngx-spinner>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Module Name</th>
                <th>Sub Modules Name</th>
                <th>URL</th>
                <th>Icon</th>
                <th>Sequence</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let subModule of subModules | paginate: paginateConfig;let i = index">
                <td>{{subModule.module_name}}</td>
                <td>{{subModule.submodule_name}}</td>
                <td>{{subModule.submodule_url}}</td>
                <td>{{subModule.submodule_icon}}</td>
                <td>{{subModule.submodule_sequence}}</td>
                <td>
                    <button class="btn btn-info btn-sm" (click)="viewSubModule(subModule,subModuleModal)"><i class="fa fa-sm fa-eye"></i></button>
                    <button class="btn btn-primary btn-sm" (click)="editSubModule(subModule,subModuleModal)"><i class="fa fa-sm fa-edit"></i></button>
                    <button class="btn btn-danger btn-sm" (click)="deleteSubModule(subModule)"><i class="fa fa-sm fa-trash"></i></button>
                </td>
            </tr>
            </tbody>
          </table>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
              <pagination-controls (pageChange)="getSubModuleList($event)" id="server"></pagination-controls>
            </div>
            <!-- /.card-footer-->
          </div>
          <!-- /.card -->
        </div>
      </div>
    </div>
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<ng-template #subModuleModal let-modal>
  <div class="modal-header btn-info">
    <h4 class="modal-title" id="modal-basic-title">Add Sub Module</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="row" [formGroup]="subModuleForm" autocomplete="off">
      <div class="form-group col-4">
        <label class="control-label">Module Name</label>
        <select class="form-control" 
        [ngClass]="{ 'is-invalid': (isSubModuleFormSubmitted || subModuleFormControl.module_id.dirty) && subModuleFormControl.module_id.errors }"
        formControlName="module_id" >
        <option [value]="">Select Module</option>
          <option *ngFor="let module of modules" [value]="module.id">{{module.module_name}}</option>
        </select>
        <span *ngIf="(isSubModuleFormSubmitted || subModuleFormControl.module_id.dirty) && subModuleFormControl.module_id.errors" class="error">
          <span *ngIf="subModuleFormControl.module_id.errors.required">{{ validationMessage.common.requireError }}</span>
        </span>
      </div>
      <div class="form-group col-4">
        <label class="control-label">Sub Module  Name</label>
        <input class="form-control" type="text" placeholder="Module Name" 
        [ngClass]="{ 'is-invalid': (isSubModuleFormSubmitted || subModuleFormControl.submodule_name.dirty) && subModuleFormControl.submodule_name.errors }"
        formControlName="submodule_name" required>
        <span *ngIf="(isSubModuleFormSubmitted || subModuleFormControl.submodule_name.dirty) && subModuleFormControl.submodule_name.errors" class="error">
          <span *ngIf="subModuleFormControl.submodule_name.errors.required">{{ validationMessage.common.requireError }}</span>
        </span>
      </div>
      <div class="form-group col-4">
        <label class="control-label">Sub Module  Code</label>
        <input class="form-control" type="text" placeholder="Module Code" 
        [ngClass]="{ 'is-invalid': (isSubModuleFormSubmitted || subModuleFormControl.submodule_code.dirty) && subModuleFormControl.submodule_code.errors }"
        formControlName="submodule_code" required>
        <span *ngIf="(isSubModuleFormSubmitted || subModuleFormControl.submodule_code.dirty) && subModuleFormControl.submodule_code.errors" class="error">
          <span *ngIf="subModuleFormControl.submodule_code.errors.required">{{ validationMessage.common.requireError }}</span>
        </span>
      </div>
      <div class="form-group col-4">
        <label class="control-label">Sub Module  URL</label>
        <input class="form-control" type="text" placeholder="Module URL" 
        [ngClass]="{ 'is-invalid': (isSubModuleFormSubmitted || subModuleFormControl.submodule_url.dirty) && subModuleFormControl.submodule_url.errors }"
        formControlName="submodule_url" required>
        <span *ngIf="(isSubModuleFormSubmitted || subModuleFormControl.submodule_url.dirty) && subModuleFormControl.submodule_url.errors" class="error">
          <span *ngIf="subModuleFormControl.submodule_url.errors.required">{{ validationMessage.common.requireError }}</span>
        </span>
      </div>
      <div class="form-group col-4">
        <label class="control-label">Sequence</label>
        <input class="form-control" type="text" placeholder="Sequence" 
        [ngClass]="{ 'is-invalid': (isSubModuleFormSubmitted || subModuleFormControl.submodule_sequence.dirty) && subModuleFormControl.submodule_sequence.errors }"
        formControlName="submodule_sequence" required>
        <span *ngIf="(isSubModuleFormSubmitted || subModuleFormControl.submodule_sequence.dirty) && subModuleFormControl.submodule_sequence.errors" class="error">
          <span *ngIf="subModuleFormControl.submodule_sequence.errors.required">{{ validationMessage.common.requireError }}</span>
        </span>
      </div>
      <div class="form-group col-4">
        <label class="control-label">Icon</label>
        <input class="form-control" type="text" placeholder="Icon" 
        [ngClass]="{ 'is-invalid': (isSubModuleFormSubmitted || subModuleFormControl.submodule_icon.dirty) && subModuleFormControl.submodule_icon.errors }"
        formControlName="submodule_icon" required>
        <span *ngIf="(isSubModuleFormSubmitted || subModuleFormControl.submodule_icon.dirty) && subModuleFormControl.submodule_icon.errors" class="error">
          <span *ngIf="subModuleFormControl.submodule_icon.errors.required">{{ validationMessage.common.requireError }}</span>
        </span>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" [disabled]="btnSpinner" *ngIf="formEditable" (click)="onSubModuleFormSubmit()"><i class="fa fa-sign-in fa-lg fa-fw" *ngIf="!btnSpinner"></i>Save</button>
    <button type="button" class="btn btn-secondary" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>