<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a [routerLink]="" class="brand-link">
        <img src="assets/images/logo.png" alt="FSSAI">
        <!-- <span class="brand-text font-weight-light">WEB-SMS</span> -->
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image sss">
                <img src="{{profilePicURL}}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a [routerLink]="" class="d-block" *ngIf="userData && userData.name">{{userData.name}}</a>

            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item" *ngIf="userData && (userData.role_id=='10')">
                  <li class="nav-item">

                    <a class="nav-link checka" href="/application-form">
                        <i class="fa fa-file fas nav-icon"></i>
                        <p>Application Form </p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link checka" href="/dashboard-10" >
                      <i class="fa-tachometer-alt fas nav-icon"></i>
                      <p>User Dashboard </p>
                  </a>
                  </li>
                  <li class="nav-item">
                  <a class="nav-link checka" href="/payment-invoice">
                    <i class="fa-tachometer-alt fas nav-icon"></i>
                    <p>Invoice</p>
                </a>
                </li>
                <!-- <li class="nav-item" *ngIf="userData && (userData.role_id=='10')">
                    <a [routerLink]="['/ingredients']" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>Ingredients </p>
                    </a>
                </li> -->

                <ng-container *ngFor="let menu of menuData | keyvalue">
                    <li class="nav-item" [ngClass]="{'has-treeview': (menu.value.subModule)}" *ngIf="menu.value.isview">
                        <a [routerLink]="[menu.value.module_url]" class="nav-link checka">
                            <i class="nav-icon fas {{menu.value.module_icon}}"></i>
                            <p>{{menu.value.module_name}} <i class="right fas fa-angle-left" *ngIf="menu.value.subModule"></i></p>
                        </a>
                        <ul class="nav nav-treeview" *ngIf="menu.value.subModule">
                            <ng-container *ngFor="let subMenu of menu.value.subModule | keyvalue">
                                <li class="nav-item" *ngIf="subMenu.value.isview">
                                    <a [routerLink]="[subMenu.value.submodule_url]" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>{{subMenu.value.submodule_name}}</p>
                                    </a>
                                </li>
                            </ng-container>
                        </ul>
                    </li>
                </ng-container>

                <!-- <li class="nav-item">
                <a [routerLink]="['/dashboard']" class="nav-link">
                  <i class="nav-icon fas fa-tachometer-alt"></i>
                  <p>Dashboard </p>
                </a>
              </li>
             <li class="nav-item has-treeview">
              <a [routerLink]="" class="nav-link">
                <i class="nav-icon fas fa-copy"></i>
                <p>Project<i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a [routerLink]="['/project/manage-project']" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Project</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a [routerLink]="['/project/manage-project-order']" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Project Order</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a [routerLink]="['/project/manage-project-work-packages']" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Project Work Packages</p>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item has-treeview">
              <a [routerLink]="" class="nav-link">
                <i class="nav-icon fas fa-key"></i>
                <p>Master<i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a [routerLink]="['/master/manage-modules']" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Modules</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a [routerLink]="['/master/manage-submodules']" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Sub-Modules</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a [routerLink]="['/master/manage-roles']" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Roles</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a [routerLink]="['/master/manage-config']" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Configuration</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a [routerLink]="['/master/manage-company']" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Company</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a [routerLink]="['/master/manage-site']" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Site</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a [routerLink]="['/master/manage-work-package']" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Work Package</p>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item has-treeview">
              <a [routerLink]="" class="nav-link">
                <i class="nav-icon fas fa-chart-pie"></i>
                <p>Report<i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a [routerLink]="['/report/fund']" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Fund Report</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a [routerLink]="['/report/quality-audit']" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Quality Audit</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a [routerLink]="['/report/resource-productivity']" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Resource Productivity</p>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item has-treeview">
              <a [routerLink]="" class="nav-link">
                <i class="nav-icon fas fa-user"></i>
                <p>User<i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a [routerLink]="['/user/manage-users']" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Users</p>
                  </a>
                </li>
              </ul>
            </li>           -->

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
<!-- <router-outlet></router-outlet>  -->