<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <app-breadcrumb [breadcrumbData]="breadcrumbObj"></app-breadcrumb>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <!-- Default box -->
          <div class="card card-info">
            <div class="card-header">
              <h3 class="card-title">Change Password</h3>
            </div>
            <ngx-spinner name="formLoader" [fullScreen]="false" type="timer" size="medium"></ngx-spinner>
            <form class="form-horizontal" [formGroup]="changePasswordForm" (ngSubmit)="onChangePasswordFormSubmit()" autocomplete="off">
              <div class="card-body">
                <div class="form-group row">
                  <label class="col-form-label col-2">Old Password :</label>
                  <div class="col-6">
                    <input class="form-control" type="password" placeholder="Old Password" 
                    [ngClass]="{ 'is-invalid': (isChangePasswordFormSubmitted || changePasswordFormControl.oldpassword.dirty) && changePasswordFormControl.oldpassword.errors }" 
                    formControlName="oldpassword" required>
                    <span *ngIf="(isChangePasswordFormSubmitted || changePasswordFormControl.oldpassword.dirty) && changePasswordFormControl.oldpassword.errors" class="error invalid-feedback">
                      <span *ngIf="changePasswordFormControl.oldpassword.errors.required">{{ validationMessage.common.requireError }}</span>
                    </span>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-form-label col-2">New Password :</label>
                  <div class="col-6">
                    <input class="form-control col-6" type="password" placeholder="New Password" 
                    [ngClass]="{ 'is-invalid': (isChangePasswordFormSubmitted || changePasswordFormControl.password.dirty) && changePasswordFormControl.password.errors }" 
                    formControlName="password" required>
                    <span *ngIf="(isChangePasswordFormSubmitted || changePasswordFormControl.password.dirty) && changePasswordFormControl.password.errors" class="error invalid-feedback">
                      <span *ngIf="changePasswordFormControl.password.errors.required">{{ validationMessage.common.requireError }}</span>
                    </span>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-form-label col-2">Confirm Password :</label>
                  <div class="col-6">
                    <input class="form-control col-6" type="password" placeholder="Confirm Password" 
                    [ngClass]="{ 'is-invalid': (isChangePasswordFormSubmitted || changePasswordFormControl.c_password.dirty) && changePasswordFormControl.c_password.errors }" 
                    formControlName="c_password" required>
                    <span *ngIf="(isChangePasswordFormSubmitted || changePasswordFormControl.c_password.dirty) && changePasswordFormControl.c_password.errors" class="error invalid-feedback">
                      <span *ngIf="changePasswordFormControl.c_password.errors.required">{{ validationMessage.common.requireError }}</span>
                      <span *ngIf="changePasswordFormControl.c_password.errors.mustMatch">{{ validationMessage.login.passwordmatchErr }}</span>
                    </span>
                  </div>
                </div>

              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <button type="submit" class="btn btn-info">Update</button>
              </div>
              <!-- /.card-footer -->
            </form>
            <!-- /.card-body -->
            <!-- /.card-footer-->
          </div>
          <!-- /.card -->
        </div>
      </div>
    </div>
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->