<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <app-breadcrumb [breadcrumbData]="breadcrumbObj"></app-breadcrumb>
  
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <form class="" [formGroup]="searchForm" (submit)="getElementList(1)" autocomplete="off">
            <!-- Default box -->
            <div class="card card-info">
              <div class="card-header">
                <div class="card-title input-group input-group-sm" style="width: 200px;">
                  <input type="text" formControlName="table_search" class="form-control float-right" placeholder="Search" (keyup)="inputData($event)">
                  <div class="input-group-append">
                    <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                  </div>
                </div>
                <div class="card-tools">
                  <button type="button" class="btn btn-secondary" (click)="addElement(elementModal)"><i class="fas fa-plus"></i> Add</button>
                </div>
              </div>
              <div class="card-body">
                <ngx-spinner name="dataTableLoader" [fullScreen]="false" type="timer" size="medium"></ngx-spinner>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Module Name</th>
                      <th>Sub Modules Name</th>
                      <th>Element Name</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let element of elements | paginate: paginateConfig;let i = index">
                      <td>{{element.module_name}}</td>
                      <td>{{element.submodule_name}}</td>
                      <td>{{element.element_name}}</td>
                      <td>
                          <button class="btn btn-info btn-sm" (click)="viewElement(element,elementModal)"><i class="fa fa-sm fa-eye"></i></button>
                          <button class="btn btn-primary btn-sm" (click)="editElement(element,elementModal)"><i class="fa fa-sm fa-edit"></i></button>
                          <button class="btn btn-danger btn-sm" (click)="deleteElement(element)"><i class="fa fa-sm fa-trash"></i></button>
                      </td>
                  </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                        <td><input formControlName="module_name" (keyup)="inputData($event)"></td>
                        <td><input formControlName="submodule_name" (keyup)="inputData($event)"></td>
                        <td><input formControlName="element_name" (keyup)="inputData($event)"></td>
                        <td></td>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <pagination-controls (pageChange)="getElementList($event)" id="server"></pagination-controls>
              </div>
              <!-- /.card-footer-->
            </div>
            <!-- /.card -->
          </form>
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  
  <ng-template #elementModal let-modal>
    <div class="modal-header btn-info">
      <h4 class="modal-title" id="modal-basic-title">Add Sub Module</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <form class="row" [formGroup]="elementForm" autocomplete="off">
        <div class="form-group col-4">
          <label class="control-label">Module Name</label>
          <ng-select class="" [clearable]="false" [items]="modules" bindValue="id" bindLabel="module_name" placeholder="Select Module" 
          [ngClass]="{ 'is-invalid': (isProjectFormSubmitted || elementFormControl.module_id.dirty) && elementFormControl.module_id.errors }" 
          formControlName="module_id" (change)="onModuleChange($event.id)">
          </ng-select>
          <!-- <select class="form-control" 
          [ngClass]="{ 'is-invalid': (isElementFormSubmitted || elementFormControl.module_id.dirty) && elementFormControl.module_id.errors }"
          formControlName="module_id" >
          <option [value]="">Select Module</option>
            <option *ngFor="let module of modules" [value]="module.id">{{module.module_name}}</option>
          </select> -->
          <span *ngIf="(isElementFormSubmitted || elementFormControl.module_id.dirty) && elementFormControl.module_id.errors" class="error">
            <span *ngIf="elementFormControl.module_id.errors.required">{{ validationMessage.common.requireError }}</span>
          </span>
        </div>
        <div class="form-group col-4">
            <label class="control-label">Sub Module Name</label>
            <ng-select class="" [clearable]="false" [items]="subModules" bindValue="id" bindLabel="submodule_name" placeholder="Select Sub Module" 
            [ngClass]="{ 'is-invalid': (isProjectFormSubmitted || elementFormControl.submodule_id.dirty) && elementFormControl.submodule_id.errors }" 
            formControlName="submodule_id">
            </ng-select>
            <!-- <select class="form-control" 
            [ngClass]="{ 'is-invalid': (isElementFormSubmitted || elementFormControl.submodule_id.dirty) && elementFormControl.submodule_id.errors }"
            formControlName="submodule_id" >
            <option [value]="">Select Sub Module</option>
              <option *ngFor="let subModule of subModules" [value]="subModule.id">{{subModule.submodule_name}}</option>
            </select> -->
            <span *ngIf="(isElementFormSubmitted || elementFormControl.submodule_id.dirty) && elementFormControl.submodule_id.errors" class="error">
              <span *ngIf="elementFormControl.submodule_id.errors.required">{{ validationMessage.common.requireError }}</span>
            </span>
          </div>
        <div class="form-group col-4">
          <label class="control-label">Element  Name</label>
          <input class="form-control" type="text" placeholder="Element Name" 
          [ngClass]="{ 'is-invalid': (isElementFormSubmitted || elementFormControl.element_name.dirty) && elementFormControl.element_name.errors }"
          formControlName="element_name" required>
          <span *ngIf="(isElementFormSubmitted || elementFormControl.element_name.dirty) && elementFormControl.element_name.errors" class="error">
            <span *ngIf="elementFormControl.element_name.errors.required">{{ validationMessage.common.requireError }}</span>
          </span>
        </div>
        <div class="form-group col-4">
          <label class="control-label">Element Code</label>
          <input class="form-control" type="text" placeholder="Element Code" 
          [ngClass]="{ 'is-invalid': (isElementFormSubmitted || elementFormControl.element_code.dirty) && elementFormControl.element_code.errors }"
          formControlName="element_code" required>
          <span *ngIf="(isElementFormSubmitted || elementFormControl.element_code.dirty) && elementFormControl.element_code.errors" class="error">
            <span *ngIf="elementFormControl.element_code.errors.required">{{ validationMessage.common.requireError }}</span>
          </span>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" [disabled]="btnSpinner" *ngIf="formEditable" (click)="onElementFormSubmit()"><i class="fa fa-sign-in fa-lg fa-fw" *ngIf="!btnSpinner"></i>Save</button>
      <button type="button" class="btn btn-secondary" (click)="modal.close('Save click')">Close</button>
    </div>
  </ng-template>