<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <app-breadcrumb [breadcrumbData]="breadcrumbObj"></app-breadcrumb>
  
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <!-- Default box -->
            <div class="card card-info">
                <div class="card-header">
                  <h3 class="card-title">Access-log report</h3>
                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                      title="Collapse">
                      <i class="fas fa-minus"></i></button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip"
                      title="Remove">
                      <i class="fas fa-times"></i></button>
                  </div>
                </div>
                <div class="card-body">
                  <div class="row" style="margin-bottom: 10px">
                    <div class="col-3">
                        <label class="control-label">From Date</label>
                      <!-- <input matInput [(ngModel)]="fromSearch" class="form-control" [matDatepicker]="start_date" placeholder="Start date" (click)="start_date.open()" readonly>            
                        <mat-datepicker #start_date></mat-datepicker> -->
                      <input [(ngModel)]="fromSearch" [owlDateTime]="fromdatepicker" [owlDateTimeTrigger]="fromdatepicker"  
                      placeholder="From Date Time" class="form-control" name="fromDate">
                      <owl-date-time #fromdatepicker></owl-date-time>
                      <!-- <span [owlDateTimeTrigger]="fromdatepicker" class="trigger">
                        <i class="fa fa-calendar"></i>
                      </span> -->

                    </div>
                    <div class="col-3">
                        <label class="control-label">To Date</label>
                      <!-- <input matInput [(ngModel)]="toSearch"  class="form-control" [matDatepicker]="end_date" placeholder="End date" (click)="end_date.open()" readonly>            
                      <mat-datepicker #end_date></mat-datepicker> -->
                      <input [(ngModel)]="toSearch" [owlDateTime]="todatepicker" [owlDateTimeTrigger]="todatepicker"
                      placeholder="To Date Time" class="form-control" name="toDate">
                      <owl-date-time #todatepicker></owl-date-time>                      
                    </div>
                    <div class="col-3">
                        <label class="control-label">SMS Type</label>
                        <select class="form-control" [(ngModel)]="smsCat" >
                            <option *ngFor="let smsType of smsTypes" [value]="smsType.id">{{smsType.text}}</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <label class="control-label">SMS Language</label>
                        <select class="form-control" [(ngModel)]="smsLang" >
                            <option *ngFor="let language of languages" [value]="language.id">{{language.text}}</option>
                        </select>
                    </div>
                  </div>
                  <div class="row" style="margin-bottom: 10px">
                    <div class="col-3">
                        <label class="control-label">SMS Tags</label>
                        <select class="form-control" [(ngModel)]="smsTagged" >
                            <option *ngFor="let smsTag of smsTags" [value]="smsTag.id">{{smsTag.text}}</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <label class="control-label">State</label>
                        <select class="form-control" [(ngModel)]="smsTagged" >
                            <option *ngFor="let smsTag of smsTags" [value]="smsTag.id">{{smsTag.text}}</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <label class="control-label">District</label>
                        <select class="form-control" [(ngModel)]="smsTagged" >
                            <option *ngFor="let smsTag of smsTags" [value]="smsTag.id">{{smsTag.text}}</option>
                        </select>
                    </div>
                    <div class="col-2">
                      <button class="btn btn-primary" style="margin-top: 30px;" (click)="getSMSDeliveryData()">Search</button>
                    </div>
                </div>
                  <ngx-spinner name="dataTableLoader" [fullScreen]="false" type="timer" size="medium"></ngx-spinner>
                  <table class="table table-bordered table-striped projects">
                    <thead>
                      <tr>
                        <th>Client</th>
                        <th colspan="3" style="background-color: #2460A7FF;">Request (from cowin)</th>
                        <th colspan="3" style="background-color: #EF6079FF;">Request Send to NIC</th>
                        <th colspan="4" style="background-color: #EEB238FF;">SMS status from NIC</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td rowspan="3"><strong>Cowin</strong></td>
                        <td style="text-align: center; vertical-align: middle; background-color: #2460A7FF;" colspan="3">
                          <a [routerLink]="" style="color: black" (click)="dateWiseData(dateWiseDataModal,'Request','Total')">
                            <span *ngIf="dashRepData">{{dashRepData.totalRequest}}</span>
                            <span *ngIf="!dashRepData">0</span>
                          </a>
                        </td>
                        <td style="text-align: center; vertical-align: middle; background-color: #EF6079FF;" colspan="3">
                          <a [routerLink]="" style="color: black" (click)="dateWiseData(dateWiseDataModal,'Sent','Total')">
                            <span *ngIf="dashRepData">{{dashRepData.totalSentToNIC}}</span>
                            <span *ngIf="!dashRepData">0</span>
                          </a>
                        </td>
                        <td style="text-align: center; vertical-align: middle; background-color: #EEB238FF;" colspan="4">
                          <a [routerLink]="" style="color: black" (click)="dateWiseData(dateWiseDataModal,'Status','Total')">
                            <span *ngIf="dashRepData">{{dashRepData.totalSmsStatus}}</span>
                            <span *ngIf="!dashRepData">0</span>
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <td style="background-color: #85B3D1FF;">Correct Request</td>
                        <td style="background-color: #B3C7D6FF;">Wrong/Issue in request</td>
                        <td style="background-color: #B3C7D6FF;">Drop Request</td>
                        <td style="background-color: #F99FC9FF;">Failed to sent to NIC</td>
                        <td style="background-color: #F99FC9FF;">Request accepted by NIC</td>
                        <td style="background-color: #F7CED7FF;">Request rejected by NIC</td>
                        <td style="background-color: #ffdb66;">Delivered from NIC</td>
                        <td style="background-color: #ffe180;">Fail from NIC</td>
                        <td style="background-color: #ffe799;">Response partily Recieved from NIC</td>
                        <td style="background-color: #ffedb3;">Response awaited from NIC</td>
                      </tr>
                      <tr>
                        <td style="text-align: center; vertical-align: middle; background-color: #85B3D1FF;">
                          <a [routerLink]="" style="color: black" (click)="dateWiseData(dateWiseDataModal,'Request','Correct')">
                            <span *ngIf="dashRepData">{{dashRepData.totalCorrectRequest}}</span>
                            <span *ngIf="!dashRepData">0</span>
                          </a>
                        </td>
                        <td style="text-align: center; vertical-align: middle; background-color: #B3C7D6FF;">
                          <a [routerLink]="" style="color: black" (click)="dateWiseData(dateWiseDataModal,'Request','Wrong')">
                            <span *ngIf="dashRepData">{{dashRepData.totalWrongRequest}}</span>
                            <span *ngIf="!dashRepData">0</span>
                          </a>
                        </td>
                        <td style="text-align: center; vertical-align: middle; background-color: #B3C7D6FF;">
                            <a [routerLink]="" style="color: black" (click)="dateWiseData(dateWiseDataModal,'Request','Drop')">
                              <span *ngIf="dashRepData">{{dashRepData.totalDropRequest}}</span>
                              <span *ngIf="!dashRepData">0</span>
                            </a>
                          </td>
                          <td style="text-align: center; vertical-align: middle; background-color: #F99FC9FF;">
                            <a [routerLink]="" style="color: black" (click)="dateWiseData(dateWiseDataModal,'Sent','Failed')">
                              <span *ngIf="dashRepData">{{dashRepData.totalFailedSentToNIC}}</span>
                              <span *ngIf="!dashRepData">0</span>
                            </a>
                          </td>
                        <td style="text-align: center; vertical-align: middle; background-color: #F99FC9FF;">
                          <a [routerLink]="" style="color: black" >
                            <span *ngIf="dashRepData">{{dashRepData.totalSentAcceptedByNIC}}</span>
                            <span *ngIf="!dashRepData">0</span>
                          </a>
                        </td>
                        <td style="text-align: center; vertical-align: middle; background-color: #F7CED7FF;">
                          <a [routerLink]="" style="color: black" >
                            <span *ngIf="dashRepData">{{dashRepData.totalSentRejectedByNIC}}</span>
                            <span *ngIf="!dashRepData">0</span>
                          </a>
                        </td>
                        <td style="text-align: center; vertical-align: middle; background-color: #ffdb66;">
                          <a [routerLink]="" style="color: black" >
                            <span *ngIf="dashRepData">{{dashRepData.totalDeliveredByNIC}}</span>
                            <span *ngIf="!dashRepData">0</span>
                          </a>
                        </td>
                        <td style="text-align: center; vertical-align: middle; background-color: #ffe180;">
                          <a [routerLink]="" style="color: black" >
                            <span *ngIf="dashRepData">{{dashRepData.totalFailedByNIC}}</span>
                            <span *ngIf="!dashRepData">0</span>
                          </a>
                        </td>
                        <td style="text-align: center; vertical-align: middle; background-color: #ffe799;">
                          <a [routerLink]="" style="color: black" >
                            <span *ngIf="dashRepData">{{dashRepData.totalPartialResponse}}</span>
                            <span *ngIf="!dashRepData">0</span>
                          </a>
                        </td>
                        <td style="text-align: center; vertical-align: middle; background-color: #ffedb3;"> 
                          <a [routerLink]="" style="color: black" >
                            <span *ngIf="dashRepData">{{dashRepData.totalWaitingResponse}}</span>
                            <span *ngIf="!dashRepData">0</span>
                          </a>
                        </td>
                      </tr>
    
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
                <!-- /.card-footer-->
              </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <ng-template #dateWiseDataModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Access-Log {{dataTypeVar}} {{statusTypeVar}} </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
        <ngx-spinner name="modalLoader" [fullScreen]="false" type="timer" size="medium"></ngx-spinner>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>{{dataTypeVar}} SMS {{statusTypeVar}}</th>
            </tr>
          </thead>
          <tbody >
            <tr *ngFor="let dateData of dateWiseReportData; let i=index" (click)="openReport(dateData)" style="cursor: pointer;">
                <td>{{dateData.showdate}}</td>
                <td>{{dateData.clickedTotal}}</td>
            </tr>
          </tbody>
          <tbody *ngIf="!dateWiseReportData.length">{{validationMessage.common.noRecordsFound}}</tbody>
        </table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.close('Save click')">Close</button>
    </div>
  </ng-template>