<div class="login_outer_bg" style="background-image: url('.../../assets/images/login_bg.gif');">
    <div class="login_outer">
        <div class="login-logo">
            <a [routerLink]="['/']"><img src=".../../assets/images/logo-fssai.png"></a>
        </div>
        <!-- /.login-logo -->
        <div class="login_right">
            <ngx-spinner name="loginLoader" [fullScreen]="false" type="timer" size="medium"></ngx-spinner>

            <ng-container>
                <h4 class="login-box-msg title">Update Password </h4>
                <form class="unlock-form" [formGroup]="updatePassword" (ngSubmit)="onUpdatePasswordSubmit()" autocomplete="off">
                    <div class="form-group ">
                        <label class="control-label">Password</label>
                        <input class="form-control" type="password" placeholder="Password" [ngClass]="{ 'is-invalid': (isUpdatePasswordSubmitted || updatePasswordControl.password.dirty) && updatePasswordControl.password.errors }" formControlName="password" required>
                        <span *ngIf="(isUpdatePasswordSubmitted || updatePasswordControl.password.dirty) && updatePasswordControl.password.errors" class="error">
                      <span *ngIf="updatePasswordControl.password.errors.required">{{ validationMessage.common.requireError }}</span>
                        </span>
                    </div>
                    <div class="form-group ">
                        <label class="control-label">Confirm Password</label>
                        <input class="form-control" type="password" placeholder="Confirm Password" [ngClass]="{ 'is-invalid': (isUpdatePasswordSubmitted || updatePasswordControl.c_password.dirty) && updatePasswordControl.c_password.errors }" formControlName="c_password" required>
                        <span *ngIf="(isUpdatePasswordSubmitted || updatePasswordControl.c_password.dirty) && updatePasswordControl.c_password.errors" class="error">
                      <span *ngIf="updatePasswordControl.c_password.errors.required">{{ validationMessage.common.requireError }}</span>
                        <span *ngIf="updatePasswordControl.c_password.errors.mustMatch">{{ validationMessage.login.passwordmatchErr }}</span>
                        </span>
                    </div>
                    <div class="form-group btn-container">
                        <button class="btn btn-primary btn-block" [disabled]="btnSpinner"><i class="fa fa-spinner fa-spin" *ngIf="btnSpinner"></i><i class="fa fa-unlock fa-lg fa-fw" *ngIf="!btnSpinner"></i>RESET</button>
                    </div>
                </form>
                <p class="mb-1">
                    <a routerLink="['/login']">Login Here</a>
                </p>
            </ng-container>

        </div>
        <!-- /.login-card-body -->
    </div>
</div>
