<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <app-breadcrumb [breadcrumbData]="breadcrumbObj"></app-breadcrumb>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- Default box -->
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">User Profile</h3>
                        </div>
                        <ngx-spinner name="formLoader" [fullScreen]="false" type="timer" size="medium"></ngx-spinner>
                        <form class="form-horizontal" [formGroup]="profileForm" (ngSubmit)="onProfileFormSubmit()" autocomplete="off">
                            <div class="card-body">
                                <div class="form-group row">
                                    <label class="col-form-label col-2">Name :</label>
                                    <div class="col-6">

                                        <input class="form-control" type="text" placeholder="Name" [ngClass]="{ 'is-invalid': (isProfileFormSubmitted || profileFormControl.name.dirty) && profileFormControl.name.errors }" formControlName="name" required>
                                        <span *ngIf="(isProfileFormSubmitted || profileFormControl.name.dirty) && profileFormControl.name.errors" class="error invalid-feedback">
                      <span *ngIf="profileFormControl.name.errors.required">{{ validationMessage.common.requireError }}</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label col-2">Email :</label>
                                    <div class="col-6">
                                        <input class="form-control col-6" type="text" placeholder="Email" [ngClass]="{ 'is-invalid': (isProfileFormSubmitted || profileFormControl.email.dirty) && profileFormControl.email.errors }" formControlName="email" required>
                                        <span *ngIf="(isProfileFormSubmitted || profileFormControl.email.dirty) && profileFormControl.email.errors" class="error invalid-feedback">
                      <span *ngIf="profileFormControl.email.errors.required">{{ validationMessage.common.requireError }}</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label col-2">Picture :</label>
                                    <div class="col-6">
                                        <input class="form-control col-6" type="file" placeholder="Profile Picture" formControlName="userimage" [ngClass]="{ 'is-invalid': (isProfileFormSubmitted || profileFormControl.userimage.dirty) && profileFormControl.userimage.errors }" (change)="picChange($event)">
                                        <span *ngIf="(isProfileFormSubmitted || profileFormControl.userimage.dirty) && profileFormControl.userimage.errors" class="error invalid-feedback">
                      <span *ngIf="profileFormControl.userimage.errors.required">{{ validationMessage.common.requireError }}</span>
                                        </span>
                                        <span class="allowformat">Allowed image format: .jpg, .png, .gif</span>
                                    </div>
                                    <div class="col-3" *ngIf="viewPic">
                                        <img class="table-row-img" [src]="viewPic" alt="Company Logo">
                                    </div>
                                </div>

                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <button type="submit" class="btn btn-info">Update</button>
                            </div>
                            <!-- /.card-footer -->
                        </form>
                        <!-- /.card-body -->
                        <!-- /.card-footer-->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->