<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <app-breadcrumb [breadcrumbData]="breadcrumbObj"></app-breadcrumb>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- Default box -->
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">Manage Template</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-secondary" (click)="addTemplate(templateModal)"><i class="fas fa-plus"></i> Add</button>
                            </div>
                        </div>
                        <div class="card-body">
                            <ngx-spinner name="dataTableLoader" [fullScreen]="false" type="timer" size="medium"></ngx-spinner>
                            <form class="form" (ngSubmit)="getData()" [formGroup]="searchForm" autocomplete="off">
                                <div class="row">
                                    <div class="col-2">
                                        <label class="col-form-label">CID :</label>
                                        <input matInput formControlName="cid" class="form-control" placeholder="CID">
                                    </div>
                                    <div class="col-2">
                                        <label class="col-form-label">DLT-ID :</label>
                                        <input matInput formControlName="dlt" class="form-control" placeholder="DLT">
                                    </div>
                                    <div class="col-2">
                                        <label class="col-form-label">Project :</label>
                                        <ng-select class="" [items]="projects" bindValue="id" bindLabel="project_name" placeholder="Select Project" formControlName="searchProject">
                                        </ng-select>
                                        <!-- <select class="form-control" formControlName="proectList">
                                            <option *ngFor="let project of projects" [value]="project.id">{{project.project_name}}</option>
                                        </select> -->
                                    </div>
                                    <div class="col-2">
                                        <label class="col-form-label">&nbsp;</label>
                                        <button class="form-control btn btn-primary" [disabled]="btnSrchSpinner"><i class="fa fa-spinner fa-spin" *ngIf="btnSrchSpinner"></i>Search</button>
                                    </div>
                                </div>
                            </form>
                            <table class="table table-hover table-responsive">
                                <thead>
                                    <tr>
                                        <th *ngIf="userData.role_id==1" style="min-width: 100px;">User name</th>
                                        <th style="min-width: 120px;">Project name</th>
                                        <th style="min-width: 50;">CID</th>
                                        <th style="min-width: 150px;">DLT</th>
                                        <th style="min-width: 100;">Is OTP</th>
                                        <th style="min-width: 100px;">Content ID</th>
                                        <th style="min-width: 100px;">Language</th>
                                        <th style="min-width: 150px;">Campaign name</th>
                                        <th style="min-width: 300px;">Params</th>
                                        <th style="min-width: 400px;">Message</th>
                                        <th style="min-width: 500px;">SMS URL</th>
                                        <th style="min-width: 200px;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let template of templates | paginate: paginateConfig;let i = index">
                                        <td *ngIf="userData.role_id==1">{{template.name}}</td>
                                        <td>{{template.project_name}}</td>
                                        <td>{{template.id}}</td>
                                        <td>{{template.dlt}}</td>
                                        <td><span *ngIf="template.Is_Otp">Yes</span><span *ngIf="!template.Is_Otp">No</span></td>
                                        <td>{{template.Content_Id}}</td>
                                        <td>{{template.Language}}</td>
                                        <td>{{template.campaign_name}}</td>
                                        <td>{{template.params}}</td>
                                        <td><span style="max-height: 30px; overflow: scroll;">{{template.message}}</span></td>
                                        <td><a href="{{template.messgaeUrl}}" target="_blank">{{template.messgaeUrl}}</a></td>
                                        <td>
                                            <button title="Check SMS" class="btn btn-info btn-sm" (click)="checkTemplate(template,smsModal)"><i class="fa fa-sm fa-envelope-open"></i></button>
                                            <button title="View" class="btn btn-info btn-sm" (click)="viewTemplate(template,templateModal)"><i class="fa fa-sm fa-eye"></i></button>
                                            <button title="Edit" class="btn btn-primary btn-sm" (click)="editTemplate(template,templateModal)"><i class="fa fa-sm fa-edit"></i></button>
                                            <button title="Delete" class="btn btn-danger btn-sm" (click)="deleteTemplate(template)"><i class="fa fa-sm fa-trash"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <pagination-controls (pageChange)="getTemplateList($event)" id="server"></pagination-controls>
                        </div>
                        <!-- /.card-footer-->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<ng-template #templateModal let-modal>
    <div class="modal-header btn-info">
        <h4 class="modal-title" id="modal-basic-title">Add Tempalte</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
        <form class="row" [formGroup]="templateForm" autocomplete="off">
            <div class="form-group col-4" *ngIf="userData.role_id==1">
                <label class="control-label">Client</label>
                <ng-select class="" [items]="userList" bindValue="id" bindLabel="name" placeholder="Select Client" [ngClass]="{ 'is-invalid': (isTemplateFormSubmitted || templateFormControl.user_id.dirty) && templateFormControl.user_id.errors }" formControlName="user_id">
                </ng-select>
                <span *ngIf="(isTemplateFormSubmitted || templateFormControl.user_id.dirty) && templateFormControl.user_id.errors" class="error">
              <span *ngIf="templateFormControl.user_id.errors.required">{{ validationMessage.common.requireError }}</span>
                </span>
            </div>
            <div class="form-group col-4">
                <label class="control-label">Project Name</label>
                <ng-select class="" (change)="onProjectChange($event)" [items]="projects" bindValue="id" bindLabel="project_name" placeholder="Select Project" [ngClass]="{ 'is-invalid': (isTemplateFormSubmitted || templateFormControl.project_id.dirty) && templateFormControl.project_id.errors }"
                    formControlName="project_id">
                </ng-select>
                <span *ngIf="(isTemplateFormSubmitted || templateFormControl.project_id.dirty) && templateFormControl.project_id.errors" class="error">
            <span *ngIf="templateFormControl.project_id.errors.required">{{ validationMessage.common.requireError }}</span>
                </span>
            </div>
            <div class="form-group col-4">
                <label class="control-label">Campaign Name</label>
                <ng-select class="" [items]="campaigns" bindValue="id" bindLabel="campaign_name" placeholder="Select Campaign" [ngClass]="{ 'is-invalid': (isTemplateFormSubmitted || templateFormControl.campaign_id.dirty) && templateFormControl.campaign_id.errors }" formControlName="campaign_id">
                </ng-select>
                <span *ngIf="(isTemplateFormSubmitted || templateFormControl.campaign_id.dirty) && templateFormControl.campaign_id.errors" class="error">
              <span *ngIf="templateFormControl.campaign_id.errors.required">{{ validationMessage.common.requireError }}</span>
                </span>
            </div>
            <div class="form-group col-4">
                <label class="control-label">DLT</label>
                <input class="form-control" type="text" placeholder="DLT" [ngClass]="{ 'is-invalid': (isTemplateFormSubmitted || templateFormControl.dlt.dirty) && templateFormControl.dlt.errors }" formControlName="dlt">
                <span *ngIf="(isTemplateFormSubmitted || templateFormControl.dlt.dirty) && templateFormControl.dlt.errors" class="error">
              <span *ngIf="templateFormControl.dlt.errors.required">{{ validationMessage.common.requireError }}</span>
                </span>
            </div>
            <div class="form-group col-4">
                <label class="control-label">Content ID</label>
                <input class="form-control" type="text" placeholder="Content Id" [ngClass]="{ 'is-invalid': (isTemplateFormSubmitted || templateFormControl.Content_Id.dirty) && templateFormControl.Content_Id.errors }" formControlName="Content_Id">
                <span *ngIf="(isTemplateFormSubmitted || templateFormControl.Content_Id.dirty) && templateFormControl.Content_Id.errors" class="error">
              <span *ngIf="templateFormControl.Content_Id.errors.required">{{ validationMessage.common.requireError }}</span>
                </span>
            </div>
            <div class="form-group col-4">
                <label class="control-label">Language</label>
                <input class="form-control" type="text" placeholder="Language" [ngClass]="{ 'is-invalid': (isTemplateFormSubmitted || templateFormControl.Language.dirty) && templateFormControl.Language.errors }" formControlName="Language" required>
                <span *ngIf="(isTemplateFormSubmitted || templateFormControl.Language.dirty) && templateFormControl.Language.errors" class="error">
              <span *ngIf="templateFormControl.Language.errors.required">{{ validationMessage.common.requireError }}</span>
                </span>
            </div>
            <div class="form-group col-12">
                <label class="control-label">Params ("key"="value","key1"="value1")</label>
                <button type="button" class="btn btn-primary btn-sm float-right" (click)="onGetTemplateParam('GET')">GET Param</button> &nbsp; <button type="button" class="btn btn-primary btn-sm float-right" (click)="onGetTemplateParam('JSON')">JSON Param</button>                &nbsp;

                <textarea class="form-control" type="text" placeholder="Params" [ngClass]="{ 'is-invalid': (isTemplateFormSubmitted || templateFormControl.params.dirty) && templateFormControl.params.errors }" formControlName="params" rows="2" required></textarea>
                <span *ngIf="(isTemplateFormSubmitted || templateFormControl.params.dirty) && templateFormControl.params.errors" class="error">
            <span *ngIf="templateFormControl.params.errors.required">{{ validationMessage.common.requireError }}</span>
                </span>
            </div>
            <div class="form-group col-12">
                <label class="control-label">Message</label>
                <textarea class="form-control" type="text" placeholder="Message" [ngClass]="{ 'is-invalid': (isTemplateFormSubmitted || templateFormControl.message.dirty) && templateFormControl.message.errors }" formControlName="message" rows="4" required></textarea>
                <span *ngIf="(isTemplateFormSubmitted || templateFormControl.message.dirty) && templateFormControl.message.errors" class="error">
            <span *ngIf="templateFormControl.message.errors.required">{{ validationMessage.common.requireError }}</span>
                </span>
            </div>
            <div class="form-group col-4">
                <label class="control-label">Is Otp</label>
                <select class="form-control" [ngClass]="{ 'is-invalid': (isTemplateFormSubmitted || templateFormControl.Is_Otp.dirty) && templateFormControl.Is_Otp.errors }" formControlName="Is_Otp">
            <option [value]="1">Yes</option>
            <option [value]="0">No</option>
          </select>
                <span *ngIf="(isTemplateFormSubmitted || templateFormControl.Is_Otp.dirty) && templateFormControl.Is_Otp.errors" class="error">
            <span *ngIf="templateFormControl.Is_Otp.errors.required">{{ validationMessage.common.requireError }}</span>
                </span>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" [disabled]="btnSpinner" *ngIf="formEditable" (click)="onTemplateFormSubmit()"><i class="fa fa-sign-in fa-lg fa-fw" *ngIf="!btnSpinner"></i>Save</button>
        <button type="button" class="btn btn-secondary" (click)="modal.close('Save click')">Close</button>
    </div>
</ng-template>

<ng-template #smsModal let-modal>
    <div class="modal-header btn-info">
        <h4 class="modal-title" id="modal-basic-title">Check SMS</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="form-group col-4" *ngIf="userData.role_id==1">
            <label class="control-label">Method Type</label>
            <ng-select class="" [items]="apiMethod" bindValue="id" bindLabel="name" placeholder="Select Method" (change)="changeApiMethod()" [ngClass]="{ 'is-invalid': (isTemplateFormSubmitted || templateFormControl.user_id.dirty) && templateFormControl.user_id.errors }"
                [(ngModel)]="methodType">
            </ng-select>
            <span *ngIf="(isTemplateFormSubmitted || templateFormControl.user_id.dirty) && templateFormControl.user_id.errors" class="error">
      <span *ngIf="templateFormControl.user_id.errors.required">{{ validationMessage.common.requireError }}</span>
            </span>
        </div>
        <div class="form-group col-12">
            <label class="control-label">SMS URL</label>
            <input class="form-control" type="text" placeholder="SMS URL" [(ngModel)]="smsUrl">
        </div>
        <div class="form-group col-4">
            <label class="control-label">Mobile Number</label>
            <input class="form-control" type="text" (input)="updateMobile()" placeholder="Mobile Number" [(ngModel)]="smsMobile">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" [disabled]="btnSpinner" (click)="onSMSSent()"><i class="fa fa-sign-in fa-lg fa-fw" *ngIf="!btnSpinner"></i>Check SMS</button>
        <button type="button" class="btn btn-secondary" (click)="modal.close('Save click')">Close</button>
    </div>
</ng-template>
