<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <app-breadcrumb [breadcrumbData]="breadcrumbObj"></app-breadcrumb>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <!-- Default box -->
          <div class="card card-info">
            <div class="card-header">
              <div class="card-title input-group input-group-sm" style="width: 200px;">
                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                <div class="input-group-append">
                  <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                </div>
              </div>
              <div class="card-tools">
                <button type="button" class="btn btn-secondary" (click)="addProject(projectModal)"><i class="fas fa-plus"></i> Add</button>
              </div>
            </div>
            <div class="card-body">
              <ngx-spinner name="dataTableLoader" [fullScreen]="false" type="timer" size="medium"></ngx-spinner>
              <table class="table table-striped table-responsive">
                <thead>
                  <tr>
                    <th *ngIf="userData.role_id==1">User Name</th>
                    <th>Project Name</th>
                    <th>Project Description</th>
                    <th>Campaign ID</th>
                    <th>Sms User Name</th>
                    <th>Sms Pin</th>
                    <th>Sms Url</th>
                    <th>Dlt Entity ID</th>
                    <th>Sender ID</th>
                    <th style="width: 25%">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let project of projects | paginate: paginateConfig;let i = index">					
                    <td *ngIf="userData.role_id==1">{{project.name}}</td>
                    <td>{{project.project_name}}</td>
                    <td>{{project.description}}</td>
                    <td>{{project.campaign_id}}</td>
                    <td>{{project.SmsUserName}}</td>
                    <td>{{project.SmsPin}}</td>
                    <td>{{project.SmsUrl}}</td>
                    <td>{{project.Dlt_entity_id}}</td>
                    <td>{{project.SenderId}}</td>
                    <td class="project-actions text-right">
                      <button class="btn btn-primary btn-sm" (click)="viewProject(project,projectModal)"><i class="fa fa-xs fa-eye"></i></button>
                      <button class="btn btn-info btn-sm" (click)="editProject(project,projectModal)"><i class="fa fa-xs fa-edit"></i></button>
                      <button class="btn btn-danger btn-sm" (click)="deleteProject(project)"><i class="fa fa-xs fa-trash"></i></button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
              <pagination-controls (pageChange)="getProjectList($event)" id="server"></pagination-controls>
            </div>
            <!-- /.card-footer-->
          </div>
          <!-- /.card -->
        </div>
      </div>
    </div>
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<ng-template #projectModal let-modal>
  <div class="modal-header btn-info">
    <h4 class="modal-title" id="modal-basic-title">Add Project</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="row" [formGroup]="projectForm" autocomplete="off">
      <div class="form-group col-4" *ngIf="userData.role_id==1">
        <label class="control-label">Client Name</label>
        <ng-select class="" [items]="userList" bindValue="id" bindLabel="name" placeholder="Select Client" 
        [ngClass]="{ 'is-invalid': (isProjectFormSubmitted || projectFormControl.user_id.dirty) && projectFormControl.user_id.errors }" 
        formControlName="user_id" >
        </ng-select>
        <span *ngIf="(isProjectFormSubmitted || projectFormControl.user_id.dirty) && projectFormControl.user_id.errors" class="error">
          <span *ngIf="projectFormControl.user_id.errors.required">{{ validationMessage.common.requireError }}</span>
        </span>
      </div>
      <div class="form-group col-6">
        <label class="control-label">Project Name</label>
        <input class="form-control" type="text" placeholder="Project name" 
        [ngClass]="{ 'is-invalid': (isProjectFormSubmitted || projectFormControl.project_name.dirty) && projectFormControl.project_name.errors }" 
        formControlName="project_name" required>
        <span *ngIf="(isProjectFormSubmitted || projectFormControl.project_name.dirty) && projectFormControl.project_name.errors" class="error invalid-feedback">
          <span *ngIf="projectFormControl.project_name.errors.required">{{ validationMessage.common.requireError }}</span>
        </span>
      </div>
      <div class="form-group col-6">
        <label class="control-label">Description</label>
        <textarea class="form-control" type="text" placeholder="Description" 
        [ngClass]="{ 'is-invalid': (isProjectFormSubmitted || projectFormControl.description.dirty) && projectFormControl.description.errors }" 
        formControlName="description" required></textarea>
        <span *ngIf="(isProjectFormSubmitted || projectFormControl.description.dirty) && projectFormControl.description.errors" class="error invalid-feedback">
          <span *ngIf="projectFormControl.description.errors.required">{{ validationMessage.common.requireError }}</span>
        </span>
      </div>
      <div class="form-group col-6">
        <label class="control-label">Campaign ID</label>
        <input class="form-control" type="text" placeholder="Campaign ID" 
        [ngClass]="{ 'is-invalid': (isProjectFormSubmitted || projectFormControl.campaign_id.dirty) && projectFormControl.campaign_id.errors }" 
        formControlName="campaign_id" required>
        <span *ngIf="(isProjectFormSubmitted || projectFormControl.campaign_id.dirty) && projectFormControl.campaign_id.errors" class="error invalid-feedback">
          <span *ngIf="projectFormControl.campaign_id.errors.required">{{ validationMessage.common.requireError }}</span>
        </span>
      </div>
      <div class="form-group col-6">
        <label class="control-label">Sms User Name</label>
        <input class="form-control" type="text" placeholder="Sms User Name" 
        [ngClass]="{ 'is-invalid': (isProjectFormSubmitted || projectFormControl.SmsUserName.dirty) && projectFormControl.SmsUserName.errors }" 
        formControlName="SmsUserName" required>
        <span *ngIf="(isProjectFormSubmitted || projectFormControl.SmsUserName.dirty) && projectFormControl.SmsUserName.errors" class="error invalid-feedback">
          <span *ngIf="projectFormControl.SmsUserName.errors.required">{{ validationMessage.common.requireError }}</span>
        </span>
      </div>
      <div class="form-group col-6">
        <label class="control-label">Sms Pin</label>
        <input class="form-control" type="text" placeholder="Sms Pin" 
        [ngClass]="{ 'is-invalid': (isProjectFormSubmitted || projectFormControl.SmsPin.dirty) && projectFormControl.SmsPin.errors }" 
        formControlName="SmsPin" required>
        <span *ngIf="(isProjectFormSubmitted || projectFormControl.SmsPin.dirty) && projectFormControl.SmsPin.errors" class="error invalid-feedback">
          <span *ngIf="projectFormControl.SmsPin.errors.required">{{ validationMessage.common.requireError }}</span>
        </span>
      </div>
      <div class="form-group col-6">
        <label class="control-label">Sms Url</label>
        <input class="form-control" type="text" placeholder="Sms Url" 
        [ngClass]="{ 'is-invalid': (isProjectFormSubmitted || projectFormControl.SmsUrl.dirty) && projectFormControl.SmsUrl.errors }" 
        formControlName="SmsUrl" required>
        <span *ngIf="(isProjectFormSubmitted || projectFormControl.SmsUrl.dirty) && projectFormControl.SmsUrl.errors" class="error invalid-feedback">
          <span *ngIf="projectFormControl.SmsUrl.errors.required">{{ validationMessage.common.requireError }}</span>
        </span>
      </div>
      <div class="form-group col-6">
        <label class="control-label">Dlt Entity ID</label>
        <input class="form-control" type="text" placeholder="Dlt Entity ID" 
        [ngClass]="{ 'is-invalid': (isProjectFormSubmitted || projectFormControl.Dlt_entity_id.dirty) && projectFormControl.Dlt_entity_id.errors }" 
        formControlName="Dlt_entity_id" required>
        <span *ngIf="(isProjectFormSubmitted || projectFormControl.Dlt_entity_id.dirty) && projectFormControl.Dlt_entity_id.errors" class="error invalid-feedback">
          <span *ngIf="projectFormControl.Dlt_entity_id.errors.required">{{ validationMessage.common.requireError }}</span>
        </span>
      </div>
      <div class="form-group col-6">
        <label class="control-label">Sender ID</label>
        <input class="form-control" type="text" placeholder="Sender ID" 
        [ngClass]="{ 'is-invalid': (isProjectFormSubmitted || projectFormControl.SenderId.dirty) && projectFormControl.SenderId.errors }" 
        formControlName="SenderId" required>
        <span *ngIf="(isProjectFormSubmitted || projectFormControl.SenderId.dirty) && projectFormControl.SenderId.errors" class="error invalid-feedback">
          <span *ngIf="projectFormControl.SenderId.errors.required">{{ validationMessage.common.requireError }}</span>
        </span>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" [disabled]="btnSpinner" *ngIf="formEditable" (click)="onProjectFormSubmit()"><i class="fa fa-sign-in fa-lg fa-fw" *ngIf="!btnSpinner"></i>Save</button>
    <button type="button" class="btn btn-default" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>