<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>{{breadcrumbData.title}}</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <ng-container *ngIf="breadcrumbData.urls.length">
                        <li class="breadcrumb-item" *ngFor="let url of breadcrumbData.urls; let i = index;">
                            <a [routerLink]="[url.linkURL]" class="checka"> {{url.urlName}}</a>
                        </li>
                    </ng-container>
                    <li class="breadcrumb-item active">{{breadcrumbData.title}}</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>