<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <app-breadcrumb [breadcrumbData]="breadcrumbObj"></app-breadcrumb>
    <div>
        <section class="content">
            <input type="hidden" name="" [(ngModel)]="application_id" />
            <input type="hidden" name="" [(ngModel)]="user_id" />
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-info">
                            <div class="card-header bg-primary">
                                <h3 class="card-title">Application Count</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                   <i class="fas fa-minus"></i></button>

                                </div>
                            </div>
                            <div class="card-body dashboardboxes">
                                <ngx-spinner name="dashboardCounterLoader" [fullScreen]="false" type="timer" size="medium"></ngx-spinner>
                                <div class="" style="margin-bottom: 10px">
                                    <div class="row">

                                        <div class="col grid-margin" *ngFor="let dashboardData of DashboardListData let i = index">
                                            <div class="card m-b-30" [ngClass]="dashboardData.bg_color">
                                                <div class="card-body">
                                                    <!-- {{dashboardData.bg_color}} -->
                                                    <div class="d-flex row">
                                                        <div class="col-3 align-self-center">
                                                            <div class="round">
                                                                <i [ngClass]="dashboardData.icon"></i>
                                                            </div>
                                                        </div>
                                                        <div class="col-8 ml-auto align-self-center text-center">
                                                            <div class="m-l-10 text-white float-right">
                                                                <h2 class="mt-0 round-inner">{{dashboardData.applicationCount}}</h2>

                                                            </div>
                                                        </div>
                                                        <p class="mb-0 txtitem dashboardlink" (click)="detailApplication(dashboardData)">{{dashboardData.label_name}}</p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>


                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ./col -->
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header" [ngClass]="panelBgColor">
                                <h5 class="card-title">{{applicationListLabel}}</h5>
                                <div class="card-tools">

                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">    <i class="fas fa-minus"></i>               </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <ngx-spinner name="dashboardDetailLoader" [fullScreen]="false" type="timer" size="medium"></ngx-spinner>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="searchbox">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-4 text-left">
                                                        <input type="text" [(ngModel)]="searchTxt" class="form-control " placeholder="Applicant Name, Organisation Name ">
                                                    </div>
                                                    <div class="col-md-4 text-left">
                                                        <button type="button" class="btn btn-primary" (click)=" searchApplication() ">Search</button>
                                                        <button type="button " class="btn btn-default ml-2 " (click)="resetApplication() ">Reset</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br/>




                                        <div class="table-responsive ">
                                            <table class="table m-0 table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>S. No.</th>
                                                        <th>Application No.</th>
                                                        <th>Applicant Name</th>
                                                        <th>Organisation Name</th>
                                                        <th>Submitted On</th>
                                                        <th>Status</th>
                                                        <th>Remarks </th>
                                                        <th>Updated date</th>
                                                        <th>{{applicationColumnLabel}}</th>
                                                        <th>Officer Name</th>
                                                        <th class="actionData ">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    <tr *ngFor="let adminDashboardData of adminDashboardList | paginate: paginateConfig;let i=index">
                                                        <td>{{paginateConfig.startIndex+i}}</td>
                                                        <td>{{adminDashboardData.application_no}}</td>
                                                        <td>{{adminDashboardData.applicant_name}}</td>
                                                        <td>{{adminDashboardData.organization_name}}</td>
                                                        <td>{{adminDashboardData.created_on | date: 'dd-MM-yyyy h:mm a'}}</td>
                                                        <!-- <td>{{adminDashboardData.application_status}}</td> -->
                                                        <td>{{statusLabel}}</td>
                                                        <td>{{adminDashboardData.remarks}}</td>
                                                        <td>{{adminDashboardData.updated_on | date: 'dd-MM-yyyy h:mm a'}}</td>
                                                        <td>{{adminDashboardData.officer_role}}</td>
                                                        <td>{{adminDashboardData.officer_name}}</td>

                                                        <td class="actionbtn">
                                                            <a class="btn btn-primary btn-xs" href="/application-details/{{adminDashboardData.application_no}}">View </a>
                                                            <!-- <button class="btn btn-success btn-xs" *ngIf="adminDashboardData.current_assign_role_id==officerRoleId && adminDashboardData.app_status_id==34 || adminDashboardData.app_status_id==35" (click)="viewData(adminDashboardData,approveApplicationModal)">Forwereded to "Director" Recommended/Non Recommended  </button> -->
                                                            <button class="btn btn-success btn-xs" *ngIf="adminDashboardData.current_assign_role_id==officerRoleId && adminDashboardData.app_status_id==34 || adminDashboardData.app_status_id==36" (click)="viewData(adminDashboardData,approveApplicationModalCeo)">Approve</button>
                                                            <button class="btn btn-danger btn-xs" *ngIf="adminDashboardData.current_assign_role_id==officerRoleId && adminDashboardData.app_status_id==34 || adminDashboardData.app_status_id==36" (click)="viewData(adminDashboardData,rejectApplicationModal)">Reject</button>
                                                            <button class="btn btn-primary btn-xs " (click)="viewApplicationHistory(adminDashboardData,userModal) ">View Official remarks</button>
                                                        </td>

                                                    </tr>
                                                    <tr *ngIf="adminDashboardList.length==0 ">
                                                        <td colspan="11" style="text-align:center ">No Application Found</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <pagination-controls (pageChange)="getDashboardDetail($event)" id="server"></pagination-controls>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>
</div>
<div>

</div>
<ngx-spinner name="dashboardHistoryLoader" [fullScreen]="false " type="timer " size="medium "></ngx-spinner>

<ng-template #userModal let-modal>

    <div class="modal-header primary ">
        <h4 class="modal-title " id="modal-basic-title ">Official remarks history</h4>
        <button type="button " class="close " aria-label="Close " (click)="modal.dismiss( 'Cross click') ">
    <span aria-hidden="true ">×</span>
  </button>
    </div>
    <div class="modal-body " *ngIf="adminDashboardApplicationHistory.length>0">
        <div class="profile-feed" *ngFor="let adminDashboardApplicationHistoryData of adminDashboardApplicationHistory">
            <div class="d-flex align-items-start profile-feed-item">
                <div class="ml-4">
                    <h6>
                        {{adminDashboardApplicationHistoryData.role_name}}
                        <small class="ml-4 text-muted"><i class="fa fa-clock mr-1"></i> {{adminDashboardApplicationHistoryData.assigned_dated_on | date: 'dd-MM-yyyy h:mm a'}}</small>
                    </h6>
                    <p> {{adminDashboardApplicationHistoryData.remarks}} </p>
                </div>
            </div>
            <hr>

        </div>
    </div>
    <div class="modal-body" *ngIf="adminDashboardApplicationHistory.length==0">
        No History found
    </div>

    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-primary" [disabled]="btnSpinner" *ngIf="formEditable" (click)="onRegisterFormSubmit()"><i class="fa fa-sign-in fa-lg fa-fw" *ngIf="!btnSpinner"></i>Save</button>
      <button type="button" class="btn btn-secondary" (click)="modal.close('Save click')">Close</button>
  </div> -->
</ng-template>

<ngx-spinner name="forwardApplicationLoader" [fullScreen]="false" type="timer" size="medium"></ngx-spinner>

<ng-template #forwardApplicationModal let-modal>

    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="ModalLabel">Forward to Advisor</h5>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
        </div>
        <div class="modal-body">

            <div class="form-group">
                <label for="message-text" class="col-form-label">Advisor Name:</label>
                <select class="form-control" [(ngModel)]="officerName">
                      <option value="">Please Select</option>
                      <option *ngFor="let roleOfficer of roleOfficerData" [value]="roleOfficer.id">{{roleOfficer.name}}</option>
                    </select>
            </div>
            <div class="form-group">
                <label for="message-text" class="col-form-label">Remarks:</label>
                <textarea class="form-control" id="message-text" [(ngModel)]="officerRemarks" placeholder="Remarks"></textarea>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" [disabled]="btnSpinner" (click)="applicationProcess()"><i class="fa fa-sign-in fa-lg fa-fw" *ngIf="!btnSpinner"></i>Save</button>
            <button type="button" class="btn btn-secondary" (click)="modal.close('Save click')">Close</button>
        </div>
    </div>
</ng-template>
<ng-template #approveApplicationModal let-modal>

    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="ModalLabel">Are you sure want to Recomendend/Non Recommended this application ??</h5>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
<span aria-hidden="true">×</span>
</button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="message-text" class="col-form-label">Director Name:</label>
                <select class="form-control" [(ngModel)]="officerNameDec">
            <option value="">Please Select</option>
            <option *ngFor="let roleOfficer of roleOfficerDataAd" [value]="roleOfficer.id">{{roleOfficer.name}}</option>
          </select>
            </div>

            <div class="form-group">
                <label for="message-text" class="col-form-label">Recomendend/Non Recommended:</label>
                <select class="form-control" [(ngModel)]="officerRecomended">
                <option value="">Please Select</option>
                <option [value]="33">Recommended By CEO to Director</option>
                <option [value]="36">Non Recommended By CEO to Director</option>
            </select>
            </div>


            <div class="form-group">
                <label for="message-text" class="col-form-label">Remarks:</label>
                <textarea class="form-control" id="message-text" [(ngModel)]="approveRemarks" placeholder="Remarks"></textarea>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" [disabled]="btnSpinner" (click)="recomendendProcess()"><i class="fa fa-sign-in fa-lg fa-fw" *ngIf="!btnSpinner"></i>Save</button>
            <button type="button" class="btn btn-secondary" (click)="modal.close('Save click')">Close</button>
        </div>
    </div>
</ng-template>


<ng-template #approveApplicationModalCeo let-modal>

    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="ModalLabel">Are you sure want to approve this application ??</h5>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
<span aria-hidden="true">×</span>
</button>
        </div>
        <div class="modal-body">


            <div class="form-group">
                <label for="message-text" class="col-form-label">Remarks:</label>
                <textarea class="form-control" id="message-text" [(ngModel)]="approveRemarks" placeholder="Remarks"></textarea>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" [disabled]="btnSpinner" (click)="approveProcess()"><i class="fa fa-sign-in fa-lg fa-fw" *ngIf="!btnSpinner"></i>Save</button>
            <button type="button" class="btn btn-secondary" (click)="modal.close('Save click')">Close</button>
        </div>
    </div>
</ng-template>


<ng-template #rejectApplicationModal let-modal>

    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="ModalLabel">Are you sure want to reject this application ??</h5>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
<span aria-hidden="true">×</span>
</button>
        </div>
        <div class="modal-body">


            <div class="form-group">
                <label for="message-text" class="col-form-label">Remarks:</label>
                <textarea class="form-control" id="message-text" [(ngModel)]="rejectRemarks" placeholder="Remarks"></textarea>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" [disabled]="btnSpinner" (click)="rejectProcess()"><i class="fa fa-sign-in fa-lg fa-fw" *ngIf="!btnSpinner"></i>Save</button>
            <button type="button" class="btn btn-secondary" (click)="modal.close('Save click')">Close</button>
        </div>
    </div>
</ng-template>