<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <app-breadcrumb [breadcrumbData]="breadcrumbObj"></app-breadcrumb>
  
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <!-- Default box -->
            <div class="card card-info">
                <div class="card-header">
                  <h3 class="card-title">Time-wise Data</h3>
                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                      title="Collapse">
                      <i class="fas fa-minus"></i></button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip"
                      title="Remove">
                      <i class="fas fa-times"></i></button>
                  </div>
                </div>
                <div class="card-body">
                  <div class="row" style="margin-bottom: 10px">
                    <div class="col-3">
                        <label class="control-label">From Date</label>
                      <input matInput [(ngModel)]="fromSearch" class="form-control" [matDatepicker]="start_date" placeholder="Start date" (click)="start_date.open()" readonly>            
                        <mat-datepicker #start_date></mat-datepicker>
                    </div>
                    <div class="col-1">
                        <label class="control-label">Hour</label>
                        <select class="form-control" [(ngModel)]="fromSearchHr" >
                            <option *ngFor="let hour of Hours" [value]="hour.id">{{hour.text}}</option>
                        </select>
                    </div>
                    <div class="col-1">
                        <label class="control-label">Minute</label>
                        <select class="form-control" [(ngModel)]="fromSearchMin" >
                            <option *ngFor="let minute of Minutes" [value]="minute.id">{{minute.text}}</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <label class="control-label">To Date</label>
                      <input matInput [(ngModel)]="toSearch"  class="form-control" [matDatepicker]="end_date" placeholder="End date" (click)="end_date.open()" readonly>            
                      <mat-datepicker #end_date></mat-datepicker>
                    </div>
                    <div class="col-1">
                        <label class="control-label">Hour</label>
                        <select class="form-control" [(ngModel)]="toSearchHr" >
                            <option *ngFor="let hour of Hours" [value]="hour.id">{{hour.text}}</option>
                        </select>
                    </div>
                    <div class="col-1">
                        <label class="control-label">Minute</label>
                        <select class="form-control" [(ngModel)]="toSearchMin" >
                            <option *ngFor="let minute of Minutes" [value]="minute.id">{{minute.text}}</option>
                        </select>
                    </div>
                    <div class="col-2">
                      <button class="btn btn-primary" style="margin-top: 30px;" (click)="getDashboard()">Search</button>
                    </div>
                  </div>
                  <ngx-spinner name="dataTableLoader" [fullScreen]="false" type="timer" size="medium"></ngx-spinner>
                  <table class="table table-bordered table-striped projects">
                    <thead>
                      <tr>
                        <th>Client</th>
                        <th colspan="2" style="background-color: #2460A7FF;" >Total Request</th>
                        <th colspan="2" style="background-color: #EF6079FF;">Sent to NIC</th>
                        <th colspan="2" style="background-color: #EEB238FF;">Delivered SMS</th>
                        <th colspan="2" style="background-color: #A13941FF;">Failed SMS</th>
                        <th colspan="2" style="background-color: #FFA351FF;">Waiting for Response</th>
                        <!-- <th style="background-color: #00B1D2FF;">Total Cost</th> -->
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td rowspan="3"><strong>Cowin</strong></td>
                        <td style="text-align: center; vertical-align: middle; background-color: #2460A7FF;" colspan="2">
                          <a [routerLink]="" style="color: black" >
                            <span *ngIf="dashRepData">{{dashRepData.totalRequest}}</span>
                            <span *ngIf="!dashRepData">0</span>
                          </a>
                        </td>
                        <td style="text-align: center; vertical-align: middle; background-color: #EF6079FF;" colspan="2">
                          <a [routerLink]="" style="color: black" >
                            <span *ngIf="dashRepData">{{dashRepData.totalSentToNIC}}</span>
                            <span *ngIf="!dashRepData">0</span>
                          </a>
                        </td>
                        <td style="text-align: center; vertical-align: middle; background-color: #EEB238FF;" colspan="2">
                          <a [routerLink]="" style="color: black" >
                            <span *ngIf="dashRepData">{{dashRepData.totalDelivered}}</span>
                            <span *ngIf="!dashRepData">0</span>
                          </a>
                        </td>
                        <td style="text-align: center; vertical-align: middle; background-color: #A13941FF;" colspan="2">
                          <a [routerLink]="" style="color: black" (click)="timeWiseFailedData(timeWiseDataModal,'Total')">
                            <span *ngIf="dashRepData">{{dashRepData.totalFailed}}</span>
                            <span *ngIf="!dashRepData">0</span>
                          </a>
                        </td>
                        <td style="text-align: center; vertical-align: middle; background-color: #FFA351FF;" colspan="2">
                          <a [routerLink]="" style="color: black" >
                            <span *ngIf="dashRepData">{{dashRepData.totalWaiting}}</span>
                            <span *ngIf="!dashRepData">0</span>
                          </a>
                        </td>
                        <!-- <td rowspan="3">&#x20b9; <strong>{{totalCoast}}</strong></td> -->
                      </tr>
                      <tr>
                        <td style="background-color: #85B3D1FF;">Normal</td>
                        <td style="background-color: #B3C7D6FF;">OTP</td>
                        <td style="background-color: #F99FC9FF;">Normal</td>
                        <td style="background-color: #F7CED7FF;">OTP</td>
                        <td style="background-color: #DDB65DFF;">Normal</td>
                        <td style="background-color: #FFD653FF;">OTP</td>
                        <td style="background-color: #af4b53;">Normal</td>
                        <td style="background-color: #e8717b;">OTP</td>
                        <td style="background-color: #FFBE7BFF;">Normal</td>
                        <td style="background-color: #f9c187;">OTP</td>
                      </tr>
                      <tr>
                        <td style="text-align: center; vertical-align: middle; background-color: #85B3D1FF;">
                          <a [routerLink]="" style="color: black" >
                            <span *ngIf="dashRepData">{{dashRepData.totalNormalRequest}}</span>
                            <span *ngIf="!dashRepData">0</span>
                          </a>
                        </td>
                        <td style="text-align: center; vertical-align: middle; background-color: #B3C7D6FF;">
                          <a [routerLink]="" style="color: black" >
                            <span *ngIf="dashRepData">{{dashRepData.totalOTPRequest}}</span>
                            <span *ngIf="!dashRepData">0</span>
                          </a>
                        </td>
                        <td style="text-align: center; vertical-align: middle; background-color: #F99FC9FF;">
                          <a [routerLink]="" style="color: black" >
                            <span *ngIf="dashRepData">{{dashRepData.totalNormalSentToNIC}}</span>
                            <span *ngIf="!dashRepData">0</span>
                          </a>
                        </td>
                        <td style="text-align: center; vertical-align: middle; background-color: #F7CED7FF;">
                          <a [routerLink]="" style="color: black" >
                            <span *ngIf="dashRepData">{{dashRepData.totalOTPSentToNIC}}</span>
                            <span *ngIf="!dashRepData">0</span>
                          </a>
                        </td>
                        <td style="text-align: center; vertical-align: middle; background-color: #DDB65DFF;">
                          <a [routerLink]="" style="color: black" >
                            <span *ngIf="dashRepData">{{dashRepData.totalNormalDelivered}}</span>
                            <span *ngIf="!dashRepData">0</span>
                          </a>
                        </td>
                        <td style="text-align: center; vertical-align: middle; background-color: #FFD653FF;">
                          <a [routerLink]="" style="color: black" >
                            <span *ngIf="dashRepData">{{dashRepData.totalOTPDelivered}}</span>
                            <span *ngIf="!dashRepData">0</span>
                          </a>
                        </td>
                        <td style="text-align: center; vertical-align: middle; background-color: #af4b53;">
                          <a [routerLink]="" style="color: black" (click)="timeWiseFailedData(timeWiseDataModal,'Normal')">
                            <span *ngIf="dashRepData">{{dashRepData.totalNormalFailed}}</span>
                            <span *ngIf="!dashRepData">0</span>
                          </a>
                        </td>
                        <td style="text-align: center; vertical-align: middle; background-color: #e8717b;"> 
                          <a [routerLink]="" style="color: black" (click)="timeWiseFailedData(timeWiseDataModal,'OTP')">
                            <span *ngIf="dashRepData">{{dashRepData.totalOTPFailed}}</span>
                            <span *ngIf="!dashRepData">0</span>
                          </a>
                        </td>
                        <td style="text-align: center; vertical-align: middle; background-color: #FFBE7BFF;">
                          <a [routerLink]="" style="color: black" >
                            <span *ngIf="dashRepData">{{dashRepData.totalNormalWaiting}}</span>
                            <span *ngIf="!dashRepData">0</span>
                          </a>
                        </td>
                        <td style="text-align: center; vertical-align: middle; background-color: #f9c187;">
                          <a [routerLink]="" style="color: black" >
                            <span *ngIf="dashRepData">{{dashRepData.totalOTPWaiting}}</span>
                            <span *ngIf="!dashRepData">0</span>
                          </a>
                        </td>
                      </tr>
    
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
                <!-- /.card-footer-->
              </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <ng-template #timeWiseDataModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Details of Failed SMS</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
        <ngx-spinner name="modalLoader" [fullScreen]="false" type="timer" size="medium"></ngx-spinner>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Error Type</th>
              <th>Total Request</th>
            </tr>
          </thead>
          <tbody >
            <ng-container *ngIf="failedMsgData">
            <tr *ngFor="let failed of failedMsgData | keyvalue" style="cursor: pointer;">
              <td>{{failed.key}}</td>
              <td>{{failed.value}}</td>
            </tr>
            </ng-container>
          </tbody>
        </table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.close('Save click')">Close</button>
    </div>
  </ng-template>