<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <app-breadcrumb [breadcrumbData]="breadcrumbObj"></app-breadcrumb>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <!-- Default box -->
          <div class="card card-info">
            <div class="card-header">
              <h3 class="card-title">Application Configuration</h3>
            </div>
            <ngx-spinner name="formLoader" [fullScreen]="false" type="timer" size="medium"></ngx-spinner>
            <form class="form-horizontal" (ngSubmit)="onConfigurationFormSubmit()" [formGroup]="configurationForm" autocomplete="off">
              <div class="card-body">
                <div class="form-group row">
                  <label class="col-form-label col-3">Token Validity :</label>
                  <div class="col-6">
                    <input class="form-control col-6" type="text" placeholder="Token Validity" 
                    [ngClass]="{ 'is-invalid': (isConfigurationFormSubmitted || configurationFormControl.token_validity.dirty) && configurationFormControl.token_validity.errors }" 
                    formControlName="token_validity" required>
                    <span *ngIf="(isConfigurationFormSubmitted || configurationFormControl.token_validity.dirty) && configurationFormControl.token_validity.errors" class="error invalid-feedback">
                      <span *ngIf="configurationFormControl.token_validity.errors.required">{{ validationMessage.common.requireError }}</span>
                    </span>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-form-label col-3">Max Login Attempt :</label>
                  <div class="col-6">
                    <input class="form-control col-6" type="text" placeholder="Max Login Attempt" 
                    [ngClass]="{ 'is-invalid': (isConfigurationFormSubmitted || configurationFormControl.max_login_attempt.dirty) && configurationFormControl.max_login_attempt.errors }" 
                    formControlName="max_login_attempt" required>
                    <span *ngIf="(isConfigurationFormSubmitted || configurationFormControl.max_login_attempt.dirty) && configurationFormControl.max_login_attempt.errors" class="error invalid-feedback">
                      <span *ngIf="configurationFormControl.max_login_attempt.errors.required">{{ validationMessage.common.requireError }}</span>
                    </span>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-form-label col-3">Page Length :</label>
                  <div class="col-6">
                    <input class="form-control col-6" type="text" placeholder="Page Length" 
                    [ngClass]="{ 'is-invalid': (isConfigurationFormSubmitted || configurationFormControl.pageLength.dirty) && configurationFormControl.pageLength.errors }" 
                    formControlName="pageLength" required>
                    <span *ngIf="(isConfigurationFormSubmitted || configurationFormControl.pageLength.dirty) && configurationFormControl.pageLength.errors" class="error invalid-feedback">
                      <span *ngIf="configurationFormControl.pageLength.errors.required">{{ validationMessage.common.requireError }}</span>
                    </span>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-form-label col-3">Log Request Method :</label>
                  <div class="col-6">
                    <input class="form-control col-6" type="text" placeholder="Log Request Method" 
                    [ngClass]="{ 'is-invalid': (isConfigurationFormSubmitted || configurationFormControl.log_request_method.dirty) && configurationFormControl.log_request_method.errors }" 
                    formControlName="log_request_method" required>
                    <span *ngIf="(isConfigurationFormSubmitted || configurationFormControl.log_request_method.dirty) && configurationFormControl.log_request_method.errors" class="error invalid-feedback">
                      <span *ngIf="configurationFormControl.log_request_method.errors.required">{{ validationMessage.common.requireError }}</span>
                    </span>
                  </div>
                </div>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <button class="btn btn-primary" [disabled]="btnSpinner"><i class="fa fa-spinner fa-spin" *ngIf="btnSpinner"></i>Update</button>
                <button type="submit" class="btn btn-default float-right">Cancel</button>
              </div>
              <!-- /.card-footer -->
            </form>
            <!-- /.card-body -->
            <!-- /.card-footer-->
          </div>
          <!-- /.card -->
        </div>
      </div>
    </div>
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->