<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <app-breadcrumb [breadcrumbData]="breadcrumbObj"></app-breadcrumb>
  
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <!-- Default box -->
            <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title">Mobile Message report</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                    title="Collapse">
                    <i class="fas fa-minus"></i></button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip"
                    title="Remove">
                    <i class="fas fa-times"></i></button>
                </div>
              </div>
              <div class="card-body">
                <ngx-spinner name="dataTableLoader" [fullScreen]="false" type="timer" size="medium"></ngx-spinner>
                <div class="row">
                  <div class="col-3">
                    <input class="form-control" [(ngModel)]="mobsearch" placeholder="Mobile" >
  
                  </div>
                  <div class="col-2">
                    <button class="btn btn-primary" (click)="getData()" [disabled]="btnSrchSpinner"><i class="fa fa-spinner fa-spin" *ngIf="btnSrchSpinner"></i>Search</button>
                  </div>
                </div>
                <table class="table table-striped table-responsive">
                  <thead>
                    <tr>
                      <th>Type</th>
                      <th style="min-width: 150px;">Application Name</th>
                      <th style="min-width: 150px;">Acknowledgement Id</th>
                      <th style="min-width: 150px;">Campaign ID</th>
                      <th style="min-width: 150px;">Mobile</th>
                      <th style="min-width: 150px;">Req. Send Sts</th>
                      <th style="min-width: 150px;">NIC Gateway Sts</th>
                      <th style="min-width: 150px;">Operator ACK Sts</th>
                      <th style="min-width: 180px;">Other App Req Time</th>
                      <th style="min-width: 180px;">Request Time</th>
                      <th style="min-width: 180px;">Request sent</th>
                      <th style="min-width: 180px;">Response Recieved</th>
                      <th style="min-width: 180px;">Send SMS by NIC</th>
                      <th style="min-width: 200px;">Fail reason</th>
                      <th style="min-width: 900px;">Message</th>
                      <th style="min-width: 300px;">NIC SMS Request URL</th>
                      <th style="min-width: 300px;">CHI SMS Request URL</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let company of companies | paginate: paginateConfig;let i = index">
                      <td>{{company.Type}}</td>
                      <td>NHPSMS</td>
                      <td>{{company.responseID}}</td>
                      <td>{{company.campaignID}}</td>
                      <td>{{company.MobileNumber}}</td>
                      <td>{{company.RequestSendStatus}}</td>
                      <td>{{company.NICGatewayStatus}}</td>
                      <td>{{company.OperatorACKStatus}}</td>
                      <td>{{company.OtherApplicationRequestTime}}</td>
                      <td>{{company.RequestTime}}</td>
                      <td>{{company.RequestSent}}</td>
                      <td>{{company.ResponseRecieved}}</td>
                      <td>{{company.sentSmsByNIC}}</td>
                      <td>{{company.Error}}</td>
                      <td>{{company.SMSText}}</td>
                      <td>{{company.CompleteUrl}}</td>
                      <td>{{company.Sms_Url_Link}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <pagination-controls (pageChange)="pageChanged($event)" id="server"></pagination-controls>
              </div>
              <!-- /.card-footer-->
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->