
.table{font-size: 12px;margin-top: 30px;}

.table thead th{
vertical-align: top;
border-bottom: 1px solid #000;
}
.table td, .table th {
    padding: .15rem;
    vertical-align: top;
    border: 1px solid #000000;
}

.table th {
    min-width: 75px;
}

.table  td {
    word-break: break-word;
}

.card-body>.table>thead>tr>td, .card-body>.table>thead>tr>th {
    border-top-width: 1px;
}



p{
border-bottom: 1px solid #000;
font-weight: bold;
font-size: 14px;
}
p span {
    font-weight: normal;
}