<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <app-breadcrumb [breadcrumbData]="breadcrumbObj"></app-breadcrumb>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- Default box -->
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">Cowin-data {{smsCat}} {{statusTypeVar}} {{dataTypeVar}} Details report</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                      <i class="fas fa-minus"></i></button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                      <i class="fas fa-times"></i></button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row" style="margin-bottom: 10px">
                                <div class="col-3">
                                    <label class="control-label">From Date</label>
                                    <input [(ngModel)]="fromSearch" [owlDateTime]="fromdatepicker" [owlDateTimeTrigger]="fromdatepicker" placeholder="From Date Time" class="form-control" name="fromDate">
                                    <owl-date-time #fromdatepicker></owl-date-time>
                                </div>
                                <div class="col-3">
                                    <label class="control-label">To Date</label>
                                    <input [(ngModel)]="toSearch" [owlDateTime]="todatepicker" [owlDateTimeTrigger]="todatepicker" placeholder="To Date Time" class="form-control" name="toDate">
                                    <owl-date-time #todatepicker></owl-date-time>
                                </div>
                                <div class="col-2">
                                    <button class="btn btn-primary" style="margin-top: 30px;" (click)="getSMSDeliveryData(1)">Search</button>
                                </div>
                            </div>

                            <ngx-spinner name="dataTableLoader" [fullScreen]="false" type="timer" size="medium"></ngx-spinner>
                            <table class="table table-striped table-responsive">
                                <thead>
                                    <tr>
                                        <th style="min-width:30px">SN</th>
                                        <th>SMS Tag</th>
                                        <th>Mobile number</th>
                                        <th>SMS Split Count</th>
                                        <th>NIC SMS Status</th>
                                        <th>Send to NIC Status</th>
                                        <th>Send to NIC Fail Remarks</th>
                                        <th>Cowin Request </th>
                                        <th>Request Accpted on </th>
                                        <th>Send to NIC on </th>
                                        <th>NIC Status on </th>
                                        <th>NIC Ack ID</th>
                                        <th>SMS Text</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let dateData of dateWiseReportData | paginate: paginateConfig;let i = index" (click)="historyStatus(dateWiseDataModal,dateData)" style="cursor: pointer;">
                                        <td>{{((paginateConfig.currentPage-1)*(paginateConfig.itemsPerPage))+i+1}}</td>
                                        <td>{{dateData.tag}}</td>
                                        <td>{{dateData.mobile}}</td>
                                        <td>{{dateData.sms_count}}</td>
                                        <td>{{dateData.status}}</td>
                                        <td>{{dateData.nic_status}}</td>
                                        <td>{{dateData.fail_remarks}}</td>
                                        <td>{{dateData.req_date}}</td>
                                        <td>{{dateData.accepted_date}}</td>
                                        <td>{{dateData.sent_date}}</td>
                                        <td>{{dateData.status_date}}</td>
                                        <td>{{dateData.ackID}}</td>
                                        <td>{{dateData.message}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <pagination-controls (pageChange)="getSMSDeliveryData($event)" id="server"></pagination-controls>
                            <!-- <span>Total: {{paginateConfig.totalItems}}</span> -->
                        </div>
                        <!-- /.card-footer-->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<ng-template #dateWiseDataModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{smsCat}} {{dataTypeVar}} {{statusTypeVar}} </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
        <ngx-spinner name="modalLoader" [fullScreen]="false" type="timer" size="medium"></ngx-spinner>
        <p>Request URL: <span *ngIf="dateWiseReportHistory.length && dateWiseReportHistory[0].requestUrl">{{dateWiseReportHistory[0].requestUrl}}</span></p>
        <p>Request Date: <span *ngIf="dateWiseReportHistory.length && dateWiseReportHistory[0].req_date">{{dateWiseReportHistory[0].req_date}}</span></p>
        <p>Accepted Date: <span *ngIf="dateWiseReportHistory.length && dateWiseReportHistory[0].accepted_date">{{dateWiseReportHistory[0].accepted_date}}</span></p>
        <p>Mobile: <span *ngIf="dateWiseReportHistory.length && dateWiseReportHistory[0].MobileNo">{{dateWiseReportHistory[0].MobileNo}}</span></p>
        <p>SMS Count: <span *ngIf="dateWiseReportHistory.length && dateWiseReportHistory[0].sms_count">{{dateWiseReportHistory[0].sms_count}}</span></p>
        <p>SMS: <span *ngIf="dateWiseReportHistory.length && dateWiseReportHistory[0].message">{{dateWiseReportHistory[0].message}}</span></p>
        <p>NIC Ack ID: <span *ngIf="dateWiseReportHistory.length && dateWiseReportHistory[0].ackID">{{dateWiseReportHistory[0].ackID}}</span></p>
        <p>Current Status: <span *ngIf="dateWiseReportHistory.length && dateWiseReportHistory[0].current_status">{{dateWiseReportHistory[0].current_status}}</span></p>
        <p>Total Status: <span *ngIf="dateWiseReportHistory.length ">{{dateWiseReportHistory.length}}</span></p>
        <p>Last Status: <span *ngIf="dateWiseReportHistory.length && dateWiseReportHistory[0].lastutime">{{dateWiseReportHistory[0].lastutime}}</span></p>

        <table class="table table-striped">
            <thead>
                <tr>
                    <!-- <th>response/NIC ID</th> -->
                    <th>NIC Status</th>
                    <th>Carrier Status</th>
                    <th>Created on </th>
                    <th>Last Run</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let historyData of dateWiseReportHistory; let i=index" style="cursor: pointer;">
                    <!-- <td><span *ngIf="historyData.resID">{{historyData.resID}}/</span>{{historyData.mesID}}</td> -->
                    <td>{{historyData.hisSts}}</td>
                    <td>{{historyData.hisCarSts}}</td>
                    <td>{{historyData.hisCreated}}</td>
                    <td>{{historyData.hisLastRunTime}}</td>
                </tr>
            </tbody>
            <tbody *ngIf="!dateWiseReportHistory.length">{{validationMessage.common.noRecordsFound}}</tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close('Save click')">Close</button>
    </div>
</ng-template>
