<style>
  .slideshow {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .slideshow li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 40s linear infinite;
  }

  .slideshow li:nth-child(1) {
    background-image: url(.../../assets/images/img/1.jpeg);
  }

  .slideshow li:nth-child(2) {
    background-image: url(.../../assets/images/img/2.jpeg);
    animation-delay: 10s;
  }

  .slideshow li:nth-child(3) {
    background-image: url(.../../assets/images/img/3.jpg);
    animation-delay: 20s;
  }

  .slideshow li:nth-child(4) {
    background-image: url(.../../assets/images/img/4.jpg);
    animation-delay: 30s;
  }

  .slideshow li:nth-child(5) {
    background-image: url(.../../assets/images/img/5.jpg);
    animation-delay: 40s;
  }

  @keyframes imageAnimation {
    0% {
      opacity: 0;
      animation-timing-function: ease-in;
    }

    10% {
      opacity: 1;
      animation-timing-function: ease-out;
    }

    20% {
      opacity: 1;
    }

    30% {
      opacity: 0;
    }
  }

  .no-cssanimations .slideshow li {
    opacity: 1;
  }

  .form-control {
    border-radius: 25px;
    height: 42px;
    padding: 0 24px 0 50px;
  }

  .input-group>.custom-select:not(:last-child),
  .input-group>.form-control:not(:last-child) {
    border-top-right-radius: 25px !important;
    border-bottom-right-radius: 25px !important;
  }
</style>

<div class="home_btn_blk login_outer_bg" *ngIf="!isShow">
  <div class="home_outer_blk login_outer">
    <div class="home_top_blk">
      <div class="logo_blk"><img src=".../../assets/images/logo-epaas.jpg"></div>
      <div class="logo_txt">
        <h3><span>ePAAS</span> - electronic Product & Claim Approval Application System</h3>
        <h3>Portal for approval of non - specified food and food ingredients.</h3>
      </div>
      <div class="logo_blk fssai_right"><img src=".../../assets/images/logo-fssai.png"></div>
    </div>
    <div class="btn_blk">
      <ul>
        <li><a class="btn btn-primary btn-block login100-form-btn" href="javascript:void(0);" (click)="loginType(1)">FBO
            Login</a></li>
        <li><a class="btn btn-primary btn-block login100-form-btn" href="javascript:void(0);"
            (click)="loginType(2)">Non-FBO Login</a></li>
        <li><a class="btn btn-primary btn-block login100-form-btn" href="javascript:void(0);"
            (click)="loginType(3)">Authorities Login</a></li>
      </ul>
    </div>
    <p style="text-align: center; margin-top: 10px;">Contact us : productapp@fssai.gov.in</p>
  </div>
</div>

<!-- <div class="login_outer_bg" style="background-image: url('.../../assets/images/login_bg.gif');"> -->
<div class="login_outer_bg" *ngIf="isShow">
  <div class="login_outer">
    <div class="login-logo apptitle">
      <a [routerLink]="['/']"><img src=".../../assets/images/logo-fssai.png"></a>
      <h6 class="mt-4">
        <img src=".../../assets/images/logo-epaas.jpg">
        <div class="logo_txt"><span>ePAAS</span> electronic Product & Claim Approval Application System</div>

      </h6>
    </div>
    <!-- /.login-logo -->
    <div class="login_right">
      <ngx-spinner name="loginLoader" [fullScreen]="false" type="timer" size="medium"></ngx-spinner>
      <ng-container *ngIf="loginView=='FBO'">
        <h4 class="login-box-msg title">{{loginTitle}} </h4>
        <form [formGroup]="fbologinForm" (ngSubmit)="onFboLoginFormSubmit()" autocomplete="off">
          <div class="input-group mb-3 my_group_icon">
            <input type="text" class="form-control" placeholder="License Number"
              [ngClass]="{ 'is-invalid': (isLoginFormSubmitted || fbologinFormControl.username.dirty) && fbologinFormControl.username.errors }"
              formControlName="username" required autofocus>
            <div class="input-group-append">
              <div class="input-group-text">
                <!-- <span class="fas fa-envelope"></span> -->
                <i class="fa fa-id-card" aria-hidden="true"></i>
              </div>
            </div>
            <span
              *ngIf="(isLoginFormSubmitted || fbologinFormControl.username.dirty) && fbologinFormControl.username.errors"
              class="error invalid-feedback">
              <span *ngIf="fbologinFormControl.username.errors.required">{{ validationMessage.login.licenseRequired
                }}</span>
            </span>
          </div>

          <div class="input-group mb-3 my_group_icon">
            <input type="password" class="form-control" placeholder="Password"
              [ngClass]="{ 'is-invalid': (isLoginFormSubmitted || fbologinFormControl.password.dirty) && fbologinFormControl.password.errors }"
              formControlName="password" required autofocus>
            <div class="input-group-append">
              <div class="input-group-text">
                <!-- <span class="fas fa-envelope"></span> -->
                <i class="fa fa-id-card" aria-hidden="true"></i>
              </div>
            </div>
            <span
              *ngIf="(isLoginFormSubmitted || fbologinFormControl.password.dirty) && fbologinFormControl.password.errors"
              class="error invalid-feedback">
              <span *ngIf="fbologinFormControl.password.errors.required">{{ validationMessage.login.passwordRequired
                }}</span>
            </span>
          </div>

          <div class="row captcharow mb-3">
            <div class="col-3">
              <input type="text" class="form-control bg-read" formControlName="captcha1" readonly>
            </div>
            <div class="col-1 signs">
              <h2>+</h2>
            </div>
            <div class="col-3">
              <input type="text" class="form-control bg-read" formControlName="captcha2" readonly>
            </div>
            <div class="col-1 signs">
              <h2>=</h2>
            </div>
            <div class="col-4 captcharesult">
              <input type="text" class="form-control" placeholder=""
                [ngClass]="{ 'is-invalid': (isLoginFormSubmitted || fbologinFormControl.captcha.dirty) && fbologinFormControl.captcha.errors }"
                formControlName="captcha" required>
              <span
                *ngIf="(isLoginFormSubmitted || fbologinFormControl.captcha.dirty) && fbologinFormControl.captcha.errors"
                class="error invalid-feedback">
                <span
                  *ngIf="fbologinFormControl.captcha.errors.required">{{validationMessage.common.requireError}}</span>
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12"><button class="btn btn-primary btn-block login100-form-btn" [disabled]="btnSpinner">
                <!-- <i class="fa fa-sign-in fa-sm fa-sign-in-alt" *ngIf="!btnSpinner"></i> --><i
                  class="fa fa-spinner fa-spin" *ngIf="btnSpinner"></i> Sign in
              </button></div>
            <!-- <div class="col-lg-6"><button class="btn btn-primary btn-block  mb-1">Cancel</button></div> -->
          </div>
          <div class="text-center mt-3 font-weight-light">
            <!-- <p class="mb-0">Don't have an account? <a routerLink="/register" class="text-primary txt_bold">Sign Up!</a></p> -->
            <p class="mb-1">
              <a routerLink="" (click)="openForgetPasswordModal(forgetPasswordModal)">Forgot password</a>
            </p>
          </div>
          <hr />
          <div class="row">
            <ul class="bot_linls">
              <li><a class="gray_txt_link text-primary" href="javascript:void(0);" (click)="loginType(2)">Non-FBO
                  Login</a></li>
              <li><a class="gray_txt_link text-primary" href="javascript:void(0);" (click)="loginType(3)">Authorities
                  Login</a></li>

            </ul>
          </div>

        </form>
      </ng-container>
      <ng-container *ngIf="loginView=='NON-FBO'">
        <h4 class="login-box-msg title">{{loginTitle}} </h4>
        <form [formGroup]="loginForm" (ngSubmit)="onLoginFormSubmit(2)" autocomplete="off">
          <div class="input-group mb-3 my_group_icon">
            <input type="text" class="form-control" [placeholder]="usernamePlaceholder"
              [ngClass]="{ 'is-invalid': (isLoginFormSubmitted || loginFormControl.username.dirty) && loginFormControl.username.errors }"
              formControlName="username" required autofocus>
            <div class="input-group-append">
              <div class="input-group-text">
                <i class="fa fa-user" aria-hidden="true"></i>
              </div>
            </div>
            <span *ngIf="(isLoginFormSubmitted || loginFormControl.username.dirty) && loginFormControl.username.errors"
              class="error invalid-feedback">
              <span *ngIf="loginFormControl.username.errors.required">{{ validationMessage.login.usernameRequired
                }}</span>
            </span>
          </div>
          <div class="input-group mb-3 my_group_icon">
            <input type="password" class="form-control" placeholder="Password"
              [ngClass]="{ 'is-invalid': (isLoginFormSubmitted || loginFormControl.password.dirty) && loginFormControl.password.errors }"
              formControlName="password" required>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
            <span *ngIf="(isLoginFormSubmitted || loginFormControl.password.dirty) && loginFormControl.password.errors"
              class="error invalid-feedback">
              <span *ngIf="loginFormControl.password.errors.required">{{ validationMessage.login.passwordRequired
                }}</span>
            </span>
          </div>
          <div class="row captcharow mb-3">
            <div class="col-3">
              <input type="text" class="form-control bg-read" formControlName="captcha1" readonly>
            </div>
            <div class="col-1 signs">
              <h2>+</h2>
            </div>
            <div class="col-3">
              <input type="text" class="form-control bg-read" formControlName="captcha2" readonly>
            </div>
            <div class="col-1 signs">
              <h2>=</h2>
            </div>
            <div class="col-4 captcharesult">
              <input type="text" class="form-control" placeholder=""
                [ngClass]="{ 'is-invalid': (isLoginFormSubmitted || loginFormControl.captcha.dirty) && loginFormControl.captcha.errors }"
                formControlName="captcha" required>
              <span *ngIf="(isLoginFormSubmitted || loginFormControl.captcha.dirty) && loginFormControl.captcha.errors"
                class="error invalid-feedback">
                <span *ngIf="loginFormControl.captcha.errors.required">{{validationMessage.common.requireError}}</span>
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12"><button class="btn btn-primary btn-block login100-form-btn" [disabled]="btnSpinner">
                <!-- <i class="fa fa-sign-in fa-sm fa-sign-in-alt" *ngIf="!btnSpinner"></i> --><i
                  class="fa fa-spinner fa-spin" *ngIf="btnSpinner"></i> Sign in
              </button></div>
            <!-- <div class="col-lg-6"><button class="btn btn-primary btn-block  mb-1">Cancel</button></div> -->
          </div>
          <div class="text-center mt-3 font-weight-light">
            <p class="mb-0">Don't have an account? <a routerLink="/register" class="text-primary txt_bold">Sign Up!</a>
            </p>
            
            <p class="mb-1">
              <a routerLink="" (click)="openForgetPasswordModal(forgetPasswordModal)">Forgot password</a>
            </p>
          </div>
          <hr />
          <div class="row">
            <ul class="bot_linls">
              <li><a class="gray_txt_link text-primary" href="javascript:void(0);" (click)="loginType(1)">FBO Login</a>
              </li>
              <!-- <li><a class="gray_txt_link text-primary" href="javascript:void(0);" (click)="loginType(2)">Non-FBO Login</a></li> -->
              <li><a class="gray_txt_link text-primary" href="javascript:void(0);" (click)="loginType(3)">Authorities
                  Login</a></li>

            </ul>
          </div>
          <!-- <div class="row">
        <div class="col-7">
          <a routerLink="" (click)="openForgetPasswordModal(forgetPasswordModal)" >Forgot password</a>
        </div>
        <div class="col-4">

        </div>
      </div> -->
        </form>
      </ng-container>
      <ng-container *ngIf="loginView=='OFFICIAL'">
        <h4 class="login-box-msg title">{{loginTitle}} </h4>
        <form [formGroup]="loginForm" (ngSubmit)="onLoginFormSubmit(3)" autocomplete="off">
          <div class="input-group mb-3 my_group_icon">
            <input type="text" class="form-control" [placeholder]="usernamePlaceholder"
              [ngClass]="{ 'is-invalid': (isLoginFormSubmitted || loginFormControl.username.dirty) && loginFormControl.username.errors }"
              formControlName="username" required autofocus>
            <div class="input-group-append">
              <div class="input-group-text">
                <i class="fa fa-user" aria-hidden="true"></i>
              </div>
            </div>
            <span *ngIf="(isLoginFormSubmitted || loginFormControl.username.dirty) && loginFormControl.username.errors"
              class="error invalid-feedback">
              <span *ngIf="loginFormControl.username.errors.required">{{ validationMessage.login.usernameRequired
                }}</span>
            </span>
          </div>
          <div class="input-group mb-3 my_group_icon">
            <input type="password" class="form-control" placeholder="Password"
              [ngClass]="{ 'is-invalid': (isLoginFormSubmitted || loginFormControl.password.dirty) && loginFormControl.password.errors }"
              formControlName="password" required>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
            <span *ngIf="(isLoginFormSubmitted || loginFormControl.password.dirty) && loginFormControl.password.errors"
              class="error invalid-feedback">
              <span *ngIf="loginFormControl.password.errors.required">{{ validationMessage.login.passwordRequired
                }}</span>
            </span>
          </div>
          <div class="row captcharow mb-3">
            <div class="col-3">
              <input type="text" class="form-control bg-read" formControlName="captcha1" readonly>
            </div>
            <div class="col-1 signs">
              <h2>+</h2>
            </div>
            <div class="col-3">
              <input type="text" class="form-control bg-read" formControlName="captcha2" readonly>
            </div>
            <div class="col-1 signs">
              <h2>=</h2>
            </div>
            <div class="col-4 captcharesult">
              <input type="text" class="form-control" placeholder=""
                [ngClass]="{ 'is-invalid': (isLoginFormSubmitted || loginFormControl.captcha.dirty) && loginFormControl.captcha.errors }"
                formControlName="captcha" required>
              <span *ngIf="(isLoginFormSubmitted || loginFormControl.captcha.dirty) && loginFormControl.captcha.errors"
                class="error invalid-feedback">
                <span *ngIf="loginFormControl.captcha.errors.required">{{validationMessage.common.requireError}}</span>
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12"><button class="btn btn-primary btn-block login100-form-btn" [disabled]="btnSpinner">
                <!-- <i class="fa fa-sign-in fa-sm fa-sign-in-alt" *ngIf="!btnSpinner"></i> --><i
                  class="fa fa-spinner fa-spin" *ngIf="btnSpinner"></i> Sign in
              </button></div>
            <!-- <div class="col-lg-6"><button class="btn btn-primary btn-block  mb-1">Cancel</button></div> -->
          </div>
          <div class="text-center mt-3 font-weight-light">
            <!-- <p class="mb-0">Don't have an account? <a routerLink="/register" class="text-primary txt_bold">Sign Up!</a></p> -->
            <p class="mb-1">
              <a routerLink="" (click)="openForgetPasswordModal(forgetPasswordModal)">Forgot password</a>
            </p>
          </div>
          <hr />
          <div class="row">
            <ul class="bot_linls">
              <li><a class="gray_txt_link text-primary" href="javascript:void(0);" (click)="loginType(1)">FBO Login</a>
              </li>
              <li><a class="gray_txt_link text-primary" href="javascript:void(0);" (click)="loginType(2)">Non-FBO
                  Login</a></li>
              <!-- <li><a class="gray_txt_link text-primary" href="javascript:void(0);" (click)="loginType(3)">Authorities Login</a></li> -->
            </ul>   
          </div>
          <!-- <div class="row">
      <div class="col-7">
        <a routerLink="" (click)="openForgetPasswordModal(forgetPasswordModal)" >Forgot password</a>
      </div>
      <div class="col-4">

      </div>
    </div> -->
        </form>
      </ng-container>




      <!-- <p class="mb-0">
                  <a routerLink="" (click)="openRegisterModal(registerModal)" class="text-center">Register Here</a>
              </p> -->
    </div>
    <!-- /.login-card-body -->
  </div>
  
</div>





<ng-template #forgetPasswordModal let-modal>
  <div class="otp-modal">

    <div class="modal-header">
      <h4 class="modal-title"><i class="fa fa-lg fa-fw fa-lock"></i>Forgot Password ?</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <form class="forget-form" [formGroup]="forgetPassword" autocomplete="off">
        <div class="input-group my_group_icon">
          <input class="form-control " type="text" placeholder="Email"
            [ngClass]="{ 'is-invalid': (isForgetPasswordSubmitted || forgetPasswordControl.email.dirty) && forgetPasswordControl.email.errors }"
            formControlName="email" maxlength="100" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
          <span
            *ngIf="(isForgetPasswordSubmitted || forgetPasswordControl.email.dirty) && forgetPasswordControl.email.errors"
            class="error invalid-feedback">
            <span *ngIf="forgetPasswordControl.email.errors.required">{{ validationMessage.common.requireError }}</span>
            <span *ngIf="forgetPasswordControl.email.errors.pattern">{{ validationMessage.common.emailError }}</span>
          </span>
        </div>

      </form>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" (click)="onForgetPasswordSubmit()" [disabled]="btnPasswordSpinner"><i
          class="fa fa-spinner fa-spin" *ngIf="btnPasswordSpinner"></i><i class="fa fa-unlock fa-lg fa-fw"
          *ngIf="!btnPasswordSpinner"></i>RESET</button>
      <button type="button" class="btn btn-secondary" (click)="modal.close('Save click')">Close</button>
    </div>
  </div>
</ng-template>

<ng-template #registerModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title"><i class="fa fa-lg fa-fw fa-user"></i>Register</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="" [formGroup]="registerForm" autocomplete="off">
      <div class="form-group ">
        <label class="control-label">Name</label>
        <input class="form-control" type="text" placeholder="Name"
          [ngClass]="{ 'is-invalid': (isRegisterFormSubmitted || registerFormControl.name.dirty) && registerFormControl.name.errors }"
          formControlName="name" required autofocus>
        <span *ngIf="(isRegisterFormSubmitted || registerFormControl.name.dirty) && registerFormControl.name.errors"
          class="error invalid-feedback">
          <span *ngIf="registerFormControl.name.errors.required">{{ validationMessage.common.requireError }}</span>
        </span>
      </div>
      <div class="form-group ">
        <label class="control-label">Email</label>
        <input class="form-control" type="text" placeholder="Email"
          [ngClass]="{ 'is-invalid': (isRegisterFormSubmitted || registerFormControl.email.dirty) && registerFormControl.email.errors }"
          formControlName="email" required autofocus>
        <span *ngIf="(isRegisterFormSubmitted || registerFormControl.email.dirty) && registerFormControl.email.errors"
          class="error invalid-feedback">
          <span *ngIf="registerFormControl.email.errors.required">{{ validationMessage.common.requireError }}</span>
          <span *ngIf="registerFormControl.email.errors.pattern">{{ validationMessage.common.emailError }}</span>
        </span>
      </div>
      <div class="form-group ">
        <label class="control-label">Password</label>
        <input class="form-control" type="password" placeholder="Password"
          [ngClass]="{ 'is-invalid': (isRegisterFormSubmitted || registerFormControl.password.dirty) && registerFormControl.password.errors }"
          formControlName="password" required>
        <span
          *ngIf="(isRegisterFormSubmitted || registerFormControl.password.dirty) && registerFormControl.password.errors"
          class="error invalid-feedback">
          <span *ngIf="registerFormControl.password.errors.required">{{ validationMessage.common.requireError }}</span>
        </span>
      </div>
      <div class="form-group ">
        <label class="control-label">Confirm Password</label>
        <input class="form-control" type="password" placeholder="Confirm Password"
          [ngClass]="{ 'is-invalid': (isRegisterFormSubmitted || registerFormControl.c_password.dirty) && registerFormControl.c_password.errors }"
          formControlName="c_password" required>
        <span
          *ngIf="(isRegisterFormSubmitted || registerFormControl.c_password.dirty) && registerFormControl.c_password.errors"
          class="error invalid-feedback">
          <span *ngIf="registerFormControl.c_password.errors.required">{{ validationMessage.common.requireError
            }}</span>
          <span *ngIf="registerFormControl.c_password.errors.mustMatch">{{ validationMessage.login.passwordmatchErr
            }}</span>
        </span>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" [disabled]="btnRegSpinner" (click)="onRegisterFormSubmit()"><i
        class="fa fa-sign-in fa-lg fa-fw" *ngIf="!btnRegSpinner"></i><i class="fa fa-spinner fa-spin"
        *ngIf="btnRegSpinner"></i>Register</button>
    <!-- <button type="button" class="btn btn-primary">Register</button> -->
    <button type="button" class="btn btn-secondary" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>


<ul class="slideshow">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
