<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <app-breadcrumb [breadcrumbData]="breadcrumbObj"></app-breadcrumb>
    <div>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-info">
                            <div class="card-header">
                                <h3 class="card-title"></h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                   <i class="fas fa-minus"></i></button>

                                </div>

                            </div>
                            <div class="modal-body">
                                You don't have an access of this page
                            </div>
                        </div>
                    </div>
                    <!-- ./col -->
                </div>


            </div>
        </section>
    </div>
</div>
