 <div class="{{mainClass}}">
<app-confirm-dialog></app-confirm-dialog>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<app-header *ngIf="showheader"></app-header>
<app-menu [hidden]="!showMenu"></app-menu> 
 <router-outlet></router-outlet> 
<app-footer *ngIf="showFooter"></app-footer>
</div >
<!-- <app-application-form></app-application-form> -->
<!-- <app-menu showMenu></app-menu> -->

<!-- <app-dashboard-ten></app-dashboard-ten> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-menu></app-menu> -->