.captcharow .form-control {
    padding: 0rem 0;
    height: 42px;
    text-align: center;
    min-width: 50px;
}


/* .captcharesult .form-control{width: 144px; text-align: left;padding: 1.4rem 1.2rem;} */

.captcharow .signs h2 {
    padding: 12px 0 0 6px;
    font-size: 18px;
}

.btn-capsule {
    border-radius: 20px;
    font-size: 14px;
    border: 1px solid #d3dfeb;
    font-weight: 400;
}

.logintitle {
    font-size: 1.125rem;
    color: #090909;
}

.login-card-body .input-group .form-control,
.register-card-body .input-group .form-control {
    border-right: 1px solid #cac6c6;
    ;
}

.form-control.ng-verified {
    padding-right: 2.25rem;
    background: url('/assets/images/check.png')no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.otp-modal input {
    outline: 0px;
}
