<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <app-breadcrumb [breadcrumbData]="breadcrumbObj"></app-breadcrumb>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- Default box -->
                    <div class="card card-info">
                        <div class="card-header">
                            <div class="card-title input-group input-group-sm" style="width: 200px;">
                                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                            <div class="card-tools">
                                <button type="button" class="btn btn-secondary" (click)="addUser(userModal)"><i class="fas fa-plus"></i> Add</button>
                            </div>
                        </div>
                        <div class="card-body">
                            <ngx-spinner name="dataTableLoader" [fullScreen]="false" type="timer" size="medium"></ngx-spinner>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>S. No</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let user of usersList | paginate: paginateConfig;let i = index">
                                        <td>{{paginateConfig.itemsPerPage *(paginateConfig.currentPage-1)+i+1}}</td>
                                        <td>{{user.name}}</td>
                                        <td>{{user.email}}</td>
                                        <td>{{user.role_name}}</td>
                                        <td><span *ngIf="user.isactive">Active</span><span *ngIf="!user.isactive">inActive</span></td>
                                        <td>

                                            <!-- <button class="btn btn-secondary btn-sm" (click)="viewUser(user,userModal)"><i class="fa fa-sm fa-eye"></i></button> &nbsp;  -->
                                            <button class="btn btn-primary btn-sm" (click)="editUser(user,userModal)"><i class="fa fa-sm fa-edit"></i></button>
                                            <!-- <button class="btn btn-warning btn-sm" (click)="editPermission(user,permissionModal)"><i class="fa fa-sm fa-key"></i></button> -->
                                            &nbsp;<button class="btn btn-danger btn-sm" (click)="deleteUser(user)"><i class="fa fa-sm fa-trash"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <pagination-controls (pageChange)="getUsersListList($event)" id="server"></pagination-controls>
                        </div>
                        <!-- /.card-footer-->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<ngx-spinner name="dataTableLoader_addUser" [fullScreen]="false" type="timer" size="medium"></ngx-spinner>

<ng-template #userModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{formLabel}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
        <form class="row" [formGroup]="registerForm" autocomplete="off">
            <div class="form-group col-4">
                <label class="control-label">Name</label>
                <input class="form-control" type="text" placeholder="Name" [ngClass]="{ 'is-invalid': (isRegisterFormSubmitted || registerFormControl.name.dirty) && registerFormControl.name.errors }" formControlName="name" required autofocus>
                <span *ngIf="(isRegisterFormSubmitted || registerFormControl.name.dirty) && registerFormControl.name.errors" class="error invalid-feedback">
            <span *ngIf="registerFormControl.name.errors.required">{{ validationMessage.common.requireError }}</span>
                </span>
            </div>
            <div class="form-group col-4">
                <label class="control-label">Email</label>
                <input class="form-control" type="text" placeholder="Email" [ngClass]="{ 'is-invalid': (isRegisterFormSubmitted || registerFormControl.email.dirty) && registerFormControl.email.errors }" formControlName="email" required autofocus>
                <span *ngIf="(isRegisterFormSubmitted || registerFormControl.email.dirty) && registerFormControl.email.errors" class="error invalid-feedback">
            <span *ngIf="registerFormControl.email.errors.required">{{ validationMessage.common.requireError }}</span>
                <span *ngIf="registerFormControl.email.errors.pattern">{{ validationMessage.common.emailError }}</span>
                </span>
            </div>
            <div class="form-group col-4">
                <label class="control-label">Mobile</label>
                <input class="form-control" type="text" placeholder="Mobile" [ngClass]="{ 'is-invalid': (isRegisterFormSubmitted || registerFormControl.mobile.dirty) && registerFormControl.mobile.errors }" formControlName="mobile" required autofocus>
                <span *ngIf="(isRegisterFormSubmitted || registerFormControl.mobile.dirty) && registerFormControl.mobile.errors" class="error invalid-feedback">
          <span *ngIf="registerFormControl.mobile.errors.required">{{ validationMessage.common.requireError }}</span>
                <span *ngIf="registerFormControl.mobile.errors.pattern">{{ validationMessage.common.mobileError }}</span>
                </span>
            </div>
            <div class="form-group col-6">
                <label class="control-label">Nature of organisation</label>
                <input class="form-control" type="text" placeholder="Nature of organisation" [ngClass]="{ 'is-invalid': (isRegisterFormSubmitted || registerFormControl.nature_of_organisation.dirty) && registerFormControl.nature_of_organisation.errors }" formControlName="nature_of_organisation"
                    required autofocus>
                <span *ngIf="(isRegisterFormSubmitted || registerFormControl.nature_of_organisation.dirty) && registerFormControl.nature_of_organisation.errors" class="error invalid-feedback">
        <span *ngIf="registerFormControl.nature_of_organisation.errors.required">{{ validationMessage.common.requireError }}</span>
                </span>
            </div>
            <div class="form-group col-6">
                <label class="control-label">Nature of business</label>
                <input class="form-control" type="text" placeholder="Nature of business" [ngClass]="{ 'is-invalid': (isRegisterFormSubmitted || registerFormControl.nature_of_business.dirty) && registerFormControl.nature_of_business.errors }" formControlName="nature_of_business"
                    required autofocus>
                <span *ngIf="(isRegisterFormSubmitted || registerFormControl.email.dirty) && registerFormControl.nature_of_business.errors" class="error invalid-feedback">
      <span *ngIf="registerFormControl.nature_of_business.errors.required">{{ validationMessage.common.requireError }}</span>
                </span>
            </div>

            <!-- <div class="form-group col-4">
                <label class="control-label">Password</label>
                <input class="form-control" type="password" placeholder="Password" [ngClass]="{ 'is-invalid': (isRegisterFormSubmitted || registerFormControl.password.dirty) && registerFormControl.password.errors }" formControlName="password">
                <span *ngIf="(isRegisterFormSubmitted || registerFormControl.password.dirty) && registerFormControl.password.errors" class="error invalid-feedback">
            <span *ngIf="registerFormControl.password.errors.required">{{ validationMessage.common.requireError }}</span>
                </span>
            </div> -->
            <!-- <div class="form-group col-4">
                <label class="control-label">Confirm Password</label>
                <input class="form-control" type="password" placeholder="Confirm Password" [ngClass]="{ 'is-invalid': (isRegisterFormSubmitted || registerFormControl.c_password.dirty) && registerFormControl.c_password.errors }" formControlName="c_password">
                <span *ngIf="(isRegisterFormSubmitted || registerFormControl.c_password.dirty) && registerFormControl.c_password.errors" class="error invalid-feedback">
            <span *ngIf="registerFormControl.c_password.errors.required">{{ validationMessage.common.requireError }}</span>
                <span *ngIf="registerFormControl.c_password.errors.mustMatch">{{ validationMessage.login.passwordmatchErr }}</span>
                </span>
            </div> -->
            <div class="form-group col-4">
                <label class="control-label">Role</label>
                <select class="form-control" [ngClass]="{ 'is-invalid': (isRegisterFormSubmitted || registerFormControl.role_id.dirty) && registerFormControl.role_id.errors }" formControlName="role_id">
          <option [value]="">Select Type</option>
            <option *ngFor="let role of roles" [value]="role.id">{{role.role_name}}</option>
          </select>
                <span *ngIf="(isRegisterFormSubmitted || registerFormControl.role_id.dirty) && registerFormControl.role_id.errors" class="error">
            <span *ngIf="registerFormControl.role_id.errors.required">{{ validationMessage.common.requireError }}</span>
                </span>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" [disabled]="btnSpinner" *ngIf="formEditable" (click)="onRegisterFormSubmit()"><i class="fa fa-sign-in fa-lg fa-fw" *ngIf="!btnSpinner"></i>Save</button>
        <button type="button" class="btn btn-secondary" (click)="modal.close('Save click')">Close</button>
    </div>
</ng-template>

<ng-template #permissionModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">User Permission </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
        <span class="" *ngIf="currentuserData && currentuserData.iscustom_role">Custom permission applied</span>
        <span class="" *ngIf="currentuserData && !currentuserData.iscustom_role">User has no custom permission</span>
        <form class="row" [formGroup]="userPermissionForm" autocomplete="off">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Module</th>
                        <th>Submodule</th>
                        <th>IsAdd</th>
                        <th>IsEdit</th>
                        <th>IsView</th>
                        <th>Isdelete</th>
                        <th>Element</th>
                    </tr>
                </thead>
                <tbody *ngIf="userPermissionFormArray.length">
                    <tr formArrayName="userPermissions" *ngFor="let rolePerm of userPermissionForm.get('userPermissions')['controls']; let i=index">
                        <ng-container [formGroupName]="i">
                            <td>{{userPermissionFormArray.controls[i].get('module_name').value}}</td>
                            <td>{{userPermissionFormArray.controls[i].get('submodule_name').value}}</td>
                            <td><input type="checkbox" formControlName="isadd"></td>
                            <td><input type="checkbox" formControlName="isedit"></td>
                            <td><input type="checkbox" formControlName="isview"></td>
                            <td><input type="checkbox" formControlName="isdelete"></td>
                            <td>
                                <button class="btn btn-primary btn-sm" [disabled]="!userPermissionFormArray.controls[i].get('id').value" (click)="elementPermission(userPermissionFormArray.controls[i].value,elementPermissionModal)">
                      <i class="fa fa-sm fa-key"></i>
                    </button>
                            </td>
                        </ng-container>
                    </tr>
                </tbody>
                <tbody *ngIf="!userPermissionFormArray.length">{{validationMessage.common.noRecordsFound}}</tbody>
            </table>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-warning" [disabled]="btnSpinner" *ngIf="formEditable" (click)="onUserPermissionReset()"><i class="fa fa-sign-in fa-lg fa-fw" *ngIf="!btnSpinner"></i>Reset</button>
        <button type="button" class="btn btn-primary" [disabled]="btnSpinner" *ngIf="formEditable" (click)="onUserPermissionFormSubmit()"><i class="fa fa-sign-in fa-lg fa-fw" *ngIf="!btnSpinner"></i>Save</button>
        <button type="button" class="btn btn-secondary" (click)="modal.close('Save click')">Close</button>
    </div>
</ng-template>

<ng-template #elementPermissionModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Role Element Permission</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
        <form class="row" [formGroup]="elementPermissionForm" autocomplete="off">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Element</th>
                        <th>IsEdit</th>
                        <th>IsView</th>
                    </tr>
                </thead>
                <tbody *ngIf="elementPermissionFormArray.length">
                    <tr formArrayName="elementPermissions" *ngFor="let rolePerm of elementPermissionForm.get('elementPermissions')['controls']; let i=index">
                        <ng-container [formGroupName]="i">
                            <td>{{elementPermissionFormArray.controls[i].get('element_name').value}}</td>
                            <td><input type="checkbox" formControlName="isedit"></td>
                            <td><input type="checkbox" formControlName="isview"></td>
                        </ng-container>
                    </tr>
                </tbody>
                <tbody *ngIf="!elementPermissionFormArray.length">{{validationMessage.common.noRecordsFound}}</tbody>
            </table>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary ss" [disabled]="btnSpinner" *ngIf="formEditable" (click)="onElementPermissionFormSubmit()"><i class="fa fa-sign-in fa-lg fa-fw" *ngIf="!btnSpinner"></i>Save</button>
        <button type="button" class="btn btn-secondary" (click)="modal.close('Save click')">Close</button>
    </div>
</ng-template>