



.table a span {
    text-decoration: underline;margin-top: 30px;
}



.table {
    border: 1px solid #000;font-size: 14px;
}

.table td, .table th {
    padding: .5rem;
    vertical-align: top;
    border: 1px solid #000000;
}
.table thead th{
border-bottom: 1px solid #000;
}