<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <app-breadcrumb [breadcrumbData]="breadcrumbObj"></app-breadcrumb>
  
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <!-- Default box -->
            <div class="card card-info">
              <div class="card-header">
                <div class="card-title input-group input-group-sm" style="width: 200px;">
                  <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                  <div class="input-group-append">
                    <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                  </div>
                </div>
                <div class="card-tools">
                  <!-- <button type="button" class="btn btn-secondary" (click)="addCampaign(campaignModal)"><i class="fas fa-plus"></i> Add</button> -->
                </div>
              </div>
              <div class="card-body">
                <ngx-spinner name="dataTableLoader" [fullScreen]="false" type="timer" size="medium"></ngx-spinner>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th *ngIf="userData.role_id==1">User name</th>
                  <th>Project name</th>
                  <th>Campaign Name</th>
                  <th>Campaign Code</th>
                  <th>Campaign ID</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let camp of campaign | paginate: paginateConfig;let i = index">
                  <td *ngIf="userData.role_id==1">{{camp.name}}</td>
                  <td>{{camp.project_name}}</td>
                  <td>{{camp.campaign_name}}</td>
                  <td>{{camp.campaign_code}}</td>
                  <td>{{camp.campaign_id_nic}}</td>
                  <td>
                      <button class="btn btn-info btn-sm" (click)="viewCampaign(camp,campaignModal)"><i class="fa fa-sm fa-eye"></i></button>
                      <button class="btn btn-primary btn-sm" (click)="editCampaign(camp,campaignModal)"><i class="fa fa-sm fa-edit"></i></button>
                      <button class="btn btn-danger btn-sm" (click)="deleteCampaign(camp)"><i class="fa fa-sm fa-trash"></i></button>
                  </td>
              </tr>
              </tbody>
            </table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <pagination-controls (pageChange)="getCampaignList($event)" id="server"></pagination-controls>
              </div>
              <!-- /.card-footer-->
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  
  <ng-template #campaignModal let-modal>
    <div class="modal-header btn-info">
      <h4 class="modal-title" id="modal-basic-title">Add Campaign</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <form class="row" [formGroup]="campaignForm" autocomplete="off">
        <!-- <div class="form-group col-4">
          <label class="control-label">CID</label>
          <input class="form-control" type="text" placeholder="Auto Generated" 
          [ngClass]="{ 'is-invalid': (isCampaignFormSubmitted || campaignFormControl.id.dirty) && campaignFormControl.id.errors }"
          formControlName="id" readonly>
          <span *ngIf="(isCampaignFormSubmitted || campaignFormControl.id.dirty) && campaignFormControl.id.errors" class="error">
            <span *ngIf="campaignFormControl.id.errors.required">{{ validationMessage.common.requireError }}</span>
          </span>
        </div> -->
        <div class="form-group col-4" *ngIf="userData.role_id==1">
          <label class="control-label">Client</label>
          <select class="form-control" 
          [ngClass]="{ 'is-invalid': (isCampaignFormSubmitted || campaignFormControl.user_id.dirty) && campaignFormControl.user_id.errors }"
          formControlName="user_id" >
          <option [value]="">Select User</option>
            <option *ngFor="let users of userList" [value]="users.id">{{users.name}}</option>
          </select>
          <span *ngIf="(isCampaignFormSubmitted || campaignFormControl.user_id.dirty) && campaignFormControl.user_id.errors" class="error">
            <span *ngIf="campaignFormControl.user_id.errors.required">{{ validationMessage.common.requireError }}</span>
          </span>
        </div>
        <div class="form-group col-4">
          <label class="control-label">Project Name</label>
          <ng-select class="" [items]="projects" bindValue="id" bindLabel="project_name" placeholder="Select Project" 
          [ngClass]="{ 'is-invalid': (isCampaignFormSubmitted || campaignFormControl.project_id.dirty) && campaignFormControl.project_id.errors }" 
          formControlName="project_id" >
          </ng-select>
          <span *ngIf="(isCampaignFormSubmitted || campaignFormControl.project_id.dirty) && campaignFormControl.project_id.errors" class="error">
            <span *ngIf="campaignFormControl.project_id.errors.required">{{ validationMessage.common.requireError }}</span>
          </span>
        </div>
        <div class="form-group col-4">
          <label class="control-label">Campaign name</label>
          <input class="form-control" type="text" placeholder="Campaign Name" 
          [ngClass]="{ 'is-invalid': (isCampaignFormSubmitted || campaignFormControl.campaign_name.dirty) && campaignFormControl.campaign_name.errors }"
          formControlName="campaign_name" required>
          <span *ngIf="(isCampaignFormSubmitted || campaignFormControl.campaign_name.dirty) && campaignFormControl.campaign_name.errors" class="error">
            <span *ngIf="campaignFormControl.campaign_name.errors.required">{{ validationMessage.common.requireError }}</span>
          </span>
        </div>
        <div class="form-group col-4">
          <label class="control-label">Campaign Code</label>
          <input class="form-control" type="text" placeholder="Module Code" 
          [ngClass]="{ 'is-invalid': (isCampaignFormSubmitted || campaignFormControl.campaign_code.dirty) && campaignFormControl.campaign_code.errors }"
          formControlName="campaign_code" required>
          <span *ngIf="(isCampaignFormSubmitted || campaignFormControl.campaign_code.dirty) && campaignFormControl.campaign_code.errors" class="error">
            <span *ngIf="campaignFormControl.campaign_code.errors.required">{{ validationMessage.common.requireError }}</span>
          </span>
        </div>
        <div class="form-group col-4">
          <label class="control-label">Campaign ID</label>
          <input class="form-control" type="text" placeholder="NIC Campaign ID" 
          [ngClass]="{ 'is-invalid': (isCampaignFormSubmitted || campaignFormControl.campaign_id_nic.dirty) && campaignFormControl.campaign_id_nic.errors }"
          formControlName="campaign_id_nic" required>
          <span *ngIf="(isCampaignFormSubmitted || campaignFormControl.campaign_id_nic.dirty) && campaignFormControl.campaign_id_nic.errors" class="error">
            <span *ngIf="campaignFormControl.campaign_id_nic.errors.required">{{ validationMessage.common.requireError }}</span>
          </span>
        </div>
        </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" [disabled]="btnSpinner" *ngIf="formEditable" (click)="onCampaignFormSubmit()"><i class="fa fa-sign-in fa-lg fa-fw" *ngIf="!btnSpinner"></i>Save</button>
      <button type="button" class="btn btn-secondary" (click)="modal.close('Save click')">Close</button>
    </div>
  </ng-template>