<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <app-breadcrumb [breadcrumbData]="breadcrumbObj"></app-breadcrumb>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <!-- Default box -->
          <div class="card card-info">
            <div class="card-header">
              <div class="card-title input-group input-group-sm" style="width: 200px;">
                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                <div class="input-group-append">
                  <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                </div>
              </div>
              <div class="card-tools">
                <button type="button" class="btn btn-secondary" (click)="addRole(roleModal)"><i class="fas fa-plus"></i> Add</button>
              </div>
            </div>
            <div class="card-body">
              <ngx-spinner name="dataTableLoader" [fullScreen]="false" type="timer" size="medium"></ngx-spinner>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Role</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let role of roles | paginate: paginateConfig;let i = index">
                    <td>{{role.role_name}}</td>
                    <td>
                        <button class="btn btn-info btn-sm" (click)="viewRole(role,roleModal)"><i class="fa fa-sm fa-eye"></i></button>
                        <button class="btn btn-primary btn-sm" (click)="editRole(role,roleModal)"><i class="fa fa-sm fa-edit"></i></button>
                        <button class="btn btn-warning btn-sm" (click)="rolePermission(role,permissionModal)"><i class="fa fa-sm fa-key"></i></button>
                        <button class="btn btn-danger btn-sm" (click)="deleteRole(role)"><i class="fa fa-sm fa-trash"></i></button>
                    </td>
                </tr>
              </tbody>
            </table>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
              <pagination-controls (pageChange)="getRoleList($event)" id="server"></pagination-controls>
            </div>
            <!-- /.card-footer-->
          </div>
          <!-- /.card -->
        </div>
      </div>
    </div>
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
  
  <ng-template #roleModal let-modal>
    <div class="modal-header btn-info">
      <h4 class="modal-title" id="modal-basic-title">Add Role</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <form class="row" [formGroup]="roleForm" autocomplete="off">
        <div class="form-group col-6">
          <label class="control-label">Role Name</label>
          <input class="form-control" type="text" placeholder="Role Name" 
          [ngClass]="{ 'is-invalid': (isRoleFormSubmitted || roleFormControl.role_name.dirty) && roleFormControl.role_name.errors }" 
          formControlName="role_name" required>
          <span *ngIf="(isRoleFormSubmitted || roleFormControl.role_name.dirty) && roleFormControl.role_name.errors" class="error invalid-feedback">
					  <span *ngIf="roleFormControl.role_name.errors.required">{{ validationMessage.common.requireError }}</span>
					</span>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" [disabled]="btnSpinner" *ngIf="formEditable" (click)="onRoleFormSubmit()"><i class="fa fa-sign-in fa-lg fa-fw" *ngIf="!btnSpinner"></i>Save</button>
      <button type="button" class="btn btn-secondary" (click)="modal.close('Save click')">Close</button>
    </div>
  </ng-template>

  <ng-template #permissionModal let-modal>
    <div class="modal-header btn-info">
      <h4 class="modal-title" id="modal-basic-title">Role Permission</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <form class="row" [formGroup]="rolePermissionForm" autocomplete="off">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Module</th>
              <th>Submodule</th>
              <th>IsAdd</th>
              <th>IsEdit</th>
              <th>IsView</th>
              <th>Isdelete</th>
              <th>Element</th>
            </tr>
          </thead>
          <tbody *ngIf="rolePermissionFormArray.length">
            <tr formArrayName="rolePermissions" *ngFor="let rolePerm of rolePermissionForm.get('rolePermissions')['controls']; let i=index">
                <ng-container [formGroupName]="i">
                  <td>{{rolePermissionFormArray.controls[i].get('module_name').value}}</td>
                  <td>{{rolePermissionFormArray.controls[i].get('submodule_name').value}}</td>
                  <td><input type="checkbox" formControlName="isadd"></td>
                  <td><input type="checkbox" formControlName="isedit"></td>
                  <td><input type="checkbox" formControlName="isview"></td>
                  <td><input type="checkbox" formControlName="isdelete"></td>
                  <td>
                    <button class="btn btn-primary btn-sm" [disabled]="!rolePermissionFormArray.controls[i].get('id').value" (click)="elementPermission(rolePermissionFormArray.controls[i].value,rolePermissionModal)">
                      <i class="fa fa-sm fa-key"></i>
                    </button>
                  </td>
                </ng-container>                					
            </tr>
          </tbody>
          <tbody *ngIf="!rolePermissionFormArray.length">{{validationMessage.common.noRecordsFound}}</tbody>
        </table>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" [disabled]="btnSpinner" *ngIf="formEditable" (click)="onRolePermissionFormSubmit()"><i class="fa fa-sign-in fa-lg fa-fw" *ngIf="!btnSpinner"></i>Save</button>
      <button type="button" class="btn btn-secondary" (click)="modal.close('Save click')">Close</button>
    </div>
  </ng-template>

  <ng-template #rolePermissionModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Role Element Permission</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <form class="row" [formGroup]="roleElementPermissionForm" autocomplete="off">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Element</th>
              <th>IsEdit</th>
              <th>IsView</th>
            </tr>
          </thead>
          <tbody *ngIf="roleElementPermissionFormArray.length">
            <tr formArrayName="elementPermissions" *ngFor="let rolePerm of roleElementPermissionForm.get('elementPermissions')['controls']; let i=index">
              <ng-container [formGroupName]="i">
                <td>{{roleElementPermissionFormArray.controls[i].get('element_name').value}}</td>
                <td><input type="checkbox" formControlName="isedit"></td>
                <td><input type="checkbox" formControlName="isview"></td>
              </ng-container>                					
            </tr>
          </tbody>
          <tbody *ngIf="!roleElementPermissionFormArray.length">{{validationMessage.common.noRecordsFound}}</tbody>
        </table>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" [disabled]="btnSpinner" *ngIf="formEditable" (click)="onElementPermissionFormSubmit()"><i class="fa fa-sign-in fa-lg fa-fw" *ngIf="!btnSpinner"></i>Save</button>
      <button type="button" class="btn btn-secondary" (click)="modal.close('Save click')">Close</button>
    </div>
  </ng-template>