<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <app-breadcrumb [breadcrumbData]="breadcrumbObj"></app-breadcrumb>
  
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <!-- Default box -->
            <div class="card card-info">
                <div class="card-header">
                  <h3 class="card-title">SMS-Delivery Data</h3>
                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                      title="Collapse">
                      <i class="fas fa-minus"></i></button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip"
                      title="Remove">
                      <i class="fas fa-times"></i></button>
                  </div>
                </div>
                <div class="card-body">
                  <div class="row" style="margin-bottom: 10px">
                    <div class="col-3">
                        <label class="control-label">From Date</label>
                      <input matInput [(ngModel)]="fromSearch" class="form-control" [matDatepicker]="start_date" placeholder="Start date" (click)="start_date.open()" readonly>            
                        <mat-datepicker #start_date></mat-datepicker>
                    </div>
                    <div class="col-1">
                        <label class="control-label">Hour</label>
                        <select class="form-control" [(ngModel)]="fromSearchHr" >
                            <option *ngFor="let hour of Hours" [value]="hour.id">{{hour.text}}</option>
                        </select>
                    </div>
                    <div class="col-1">
                        <label class="control-label">Minute</label>
                        <select class="form-control" [(ngModel)]="fromSearchMin" >
                            <option *ngFor="let minute of Minutes" [value]="minute.id">{{minute.text}}</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <label class="control-label">To Date</label>
                      <input matInput [(ngModel)]="toSearch"  class="form-control" [matDatepicker]="end_date" placeholder="End date" (click)="end_date.open()" readonly>            
                      <mat-datepicker #end_date></mat-datepicker>
                    </div>
                    <div class="col-1">
                        <label class="control-label">Hour</label>
                        <select class="form-control" [(ngModel)]="toSearchHr" >
                            <option *ngFor="let hour of Hours" [value]="hour.id">{{hour.text}}</option>
                        </select>
                    </div>
                    <div class="col-1">
                        <label class="control-label">Minute</label>
                        <select class="form-control" [(ngModel)]="toSearchMin" >
                            <option *ngFor="let minute of Minutes" [value]="minute.id">{{minute.text}}</option>
                        </select>
                    </div>
                    <div class="col-2">
                      <button class="btn btn-primary" style="margin-top: 30px;" (click)="getSMSDeliveryData()">Search</button>
                    </div>
                  </div>
                  <div class="row" style="margin-bottom: 10px">
                    <div class="col-3">
                        <label class="control-label">SMS Type</label>
                        <select class="form-control" [(ngModel)]="smsCat" >
                            <option *ngFor="let smsType of smsTypes" [value]="smsType.id">{{smsType.text}}</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <label class="control-label">SMS Language</label>
                        <select class="form-control" [(ngModel)]="smsLang" >
                            <option *ngFor="let language of languages" [value]="language.id">{{language.text}}</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <label class="control-label">SMS Tags</label>
                        <select class="form-control" [(ngModel)]="smsTagged" >
                            <option *ngFor="let smsTag of smsTags" [value]="smsTag.id">{{smsTag.text}}</option>
                        </select>
                    </div>
                    </div>
                  <ngx-spinner name="dataTableLoader" [fullScreen]="false" type="timer" size="medium"></ngx-spinner>
                  <table class="table table-bordered table-striped projects">
                    <thead>
                      <tr>
                        <th>Client</th>
                        <th colspan="2" style="background-color: #2460A7FF;">Request (from cowin)</th>
                        <th colspan="2" style="background-color: #EF6079FF;">Request Send to NIC</th>
                        <th colspan="4" style="background-color: #EEB238FF;">SMS status from NIC</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td rowspan="3"><strong>Cowin</strong></td>
                        <td style="text-align: center; vertical-align: middle; background-color: #2460A7FF;" colspan="2">
                          <a [routerLink]="" style="color: black" >
                            <span *ngIf="dashRepData">{{dashRepData.totalRequest}}</span>
                            <span *ngIf="!dashRepData">0</span>
                          </a>
                        </td>
                        <td style="text-align: center; vertical-align: middle; background-color: #EF6079FF;" colspan="2">
                          <a [routerLink]="" style="color: black" >
                            <span *ngIf="dashRepData">{{dashRepData.totalSentToNIC}}</span>
                            <span *ngIf="!dashRepData">0</span>
                          </a>
                        </td>
                        <td style="text-align: center; vertical-align: middle; background-color: #EEB238FF;" colspan="4">
                          <a [routerLink]="" style="color: black" >
                            <span *ngIf="dashRepData">{{dashRepData.totalSmsStatus}}</span>
                            <span *ngIf="!dashRepData">0</span>
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <td style="background-color: #85B3D1FF;">Correct Request</td>
                        <td style="background-color: #B3C7D6FF;">Wrong/Issue in request</td>
                        <td style="background-color: #F99FC9FF;">Request accepted by NIC</td>
                        <td style="background-color: #F7CED7FF;">Request rejected by NIC</td>
                        <td style="background-color: #ffdb66;">Delivered from NIC</td>
                        <td style="background-color: #ffe180;">Fail from NIC</td>
                        <td style="background-color: #ffe799;">Response partily Recieved from NIC</td>
                        <td style="background-color: #ffedb3;">Response awaited from NIC</td>
                      </tr>
                      <tr>
                        <td style="text-align: center; vertical-align: middle; background-color: #85B3D1FF;">
                          <a [routerLink]="" style="color: black" >
                            <span *ngIf="dashRepData">{{dashRepData.totalCorrectRequest}}</span>
                            <span *ngIf="!dashRepData">0</span>
                          </a>
                        </td>
                        <td style="text-align: center; vertical-align: middle; background-color: #B3C7D6FF;">
                          <a [routerLink]="" style="color: black" >
                            <span *ngIf="dashRepData">{{dashRepData.totalWrongRequest}}</span>
                            <span *ngIf="!dashRepData">0</span>
                          </a>
                        </td>
                        <td style="text-align: center; vertical-align: middle; background-color: #F99FC9FF;">
                          <a [routerLink]="" style="color: black" >
                            <span *ngIf="dashRepData">{{dashRepData.totalSentAcceptedByNIC}}</span>
                            <span *ngIf="!dashRepData">0</span>
                          </a>
                        </td>
                        <td style="text-align: center; vertical-align: middle; background-color: #F7CED7FF;">
                          <a [routerLink]="" style="color: black" >
                            <span *ngIf="dashRepData">{{dashRepData.totalSentRejectedByNIC}}</span>
                            <span *ngIf="!dashRepData">0</span>
                          </a>
                        </td>
                        <td style="text-align: center; vertical-align: middle; background-color: #ffdb66;">
                          <a [routerLink]="" style="color: black" >
                            <span *ngIf="dashRepData">{{dashRepData.totalDeliveredByNIC}}</span>
                            <span *ngIf="!dashRepData">0</span>
                          </a>
                        </td>
                        <td style="text-align: center; vertical-align: middle; background-color: #ffe180;">
                          <a [routerLink]="" style="color: black" >
                            <span *ngIf="dashRepData">{{dashRepData.totalFailedByNIC}}</span>
                            <span *ngIf="!dashRepData">0</span>
                          </a>
                        </td>
                        <td style="text-align: center; vertical-align: middle; background-color: #ffe799;">
                          <a [routerLink]="" style="color: black" >
                            <span *ngIf="dashRepData">{{dashRepData.totalPartialResponse}}</span>
                            <span *ngIf="!dashRepData">0</span>
                          </a>
                        </td>
                        <td style="text-align: center; vertical-align: middle; background-color: #ffedb3;"> 
                          <a [routerLink]="" style="color: black" >
                            <span *ngIf="dashRepData">{{dashRepData.totalWaitingResponse}}</span>
                            <span *ngIf="!dashRepData">0</span>
                          </a>
                        </td>
                      </tr>
    
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
                <!-- /.card-footer-->
              </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->