<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <app-breadcrumb [breadcrumbData]="breadcrumbObj"></app-breadcrumb>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <!-- Default box -->
          <div class="card card-info">
            <div class="card-header">
              <div class="card-title input-group input-group-sm" style="width: 200px;">
                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                <div class="input-group-append">
                  <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                </div>
              </div>
              <div class="card-tools">
                <button type="button" class="btn btn-secondary" (click)="addModule(moduleModal)"><i class="fas fa-plus"></i> Add</button>
              </div>
            </div>
            <div class="card-body">
              <ngx-spinner name="dataTableLoader" [fullScreen]="false" type="timer" size="medium"></ngx-spinner>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Module Type</th>
                <th>Module Name</th>
                <th>Module URL</th>
                <th>Icon</th>
                <th>Sequence</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let module of modules | paginate: paginateConfig;let i = index">
                <td>{{module.typedetail_displaytext}}</td>
                <td>{{module.module_name}}</td>
                <td>{{module.module_url}}</td>
                <td>{{module.module_icon}}</td>
                <td>{{module.module_sequence}}</td>
                <td>
                    <button class="btn btn-info btn-sm" (click)="viewModule(module,moduleModal)"><i class="fa fa-sm fa-eye"></i></button>
                    <button class="btn btn-primary btn-sm" (click)="editModule(module,moduleModal)"><i class="fa fa-sm fa-edit"></i></button>
                    <button class="btn btn-danger btn-sm" (click)="deleteModule(module)"><i class="fa fa-sm fa-trash"></i></button>
                </td>
            </tr>
            </tbody>
          </table>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
              <pagination-controls (pageChange)="getModuleList($event)" id="server"></pagination-controls>
            </div>
            <!-- /.card-footer-->
          </div>
          <!-- /.card -->
        </div>
      </div>
    </div>
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<ng-template #moduleModal let-modal>
  <div class="modal-header btn-info">
    <h4 class="modal-title" id="modal-basic-title">Add Module</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="row" [formGroup]="moduleForm" autocomplete="off">
      <div class="form-group col-4">
        <label class="control-label">Module Type</label>
        <select class="form-control" 
        [ngClass]="{ 'is-invalid': (isModuleFormSubmitted || moduleFormControl.moduletype_detailid.dirty) && moduleFormControl.moduletype_detailid.errors }"
        formControlName="moduletype_detailid" >
        <option [value]="">Select Type</option>
          <option *ngFor="let moduleType of moduleTypes" [value]="moduleType.id">{{moduleType.typedetail_displaytext}}</option>
        </select>
        <span *ngIf="(isModuleFormSubmitted || moduleFormControl.moduletype_detailid.dirty) && moduleFormControl.moduletype_detailid.errors" class="error">
          <span *ngIf="moduleFormControl.moduletype_detailid.errors.required">{{ validationMessage.common.requireError }}</span>
        </span>
      </div>
      <div class="form-group col-4">
        <label class="control-label">Module  Name</label>
        <input class="form-control" type="text" placeholder="Module Name" 
        [ngClass]="{ 'is-invalid': (isModuleFormSubmitted || moduleFormControl.module_name.dirty) && moduleFormControl.module_name.errors }"
        formControlName="module_name" required>
        <span *ngIf="(isModuleFormSubmitted || moduleFormControl.module_name.dirty) && moduleFormControl.module_name.errors" class="error">
          <span *ngIf="moduleFormControl.module_name.errors.required">{{ validationMessage.common.requireError }}</span>
        </span>
      </div>
      <div class="form-group col-4">
        <label class="control-label">Module  Code</label>
        <input class="form-control" type="text" placeholder="Module Code" 
        [ngClass]="{ 'is-invalid': (isModuleFormSubmitted || moduleFormControl.module_code.dirty) && moduleFormControl.module_code.errors }"
        formControlName="module_code" required>
        <span *ngIf="(isModuleFormSubmitted || moduleFormControl.module_code.dirty) && moduleFormControl.module_code.errors" class="error">
          <span *ngIf="moduleFormControl.module_code.errors.required">{{ validationMessage.common.requireError }}</span>
        </span>
      </div>
      <div class="form-group col-4">
        <label class="control-label">Module  URL</label>
        <input class="form-control" type="text" placeholder="Module URL" 
        [ngClass]="{ 'is-invalid': (isModuleFormSubmitted || moduleFormControl.module_url.dirty) && moduleFormControl.module_url.errors }"
        formControlName="module_url" required>
        <span *ngIf="(isModuleFormSubmitted || moduleFormControl.module_url.dirty) && moduleFormControl.module_url.errors" class="error">
          <span *ngIf="moduleFormControl.module_url.errors.required">{{ validationMessage.common.requireError }}</span>
        </span>
      </div>
      <div class="form-group col-4">
        <label class="control-label">Sequence</label>
        <input intergersOnly class="form-control" type="text" placeholder="Sequence" 
        [ngClass]="{ 'is-invalid': (isModuleFormSubmitted || moduleFormControl.module_sequence.dirty) && moduleFormControl.module_sequence.errors }"
        formControlName="module_sequence" required>
        <span *ngIf="(isModuleFormSubmitted || moduleFormControl.module_sequence.dirty) && moduleFormControl.module_sequence.errors" class="error">
          <span *ngIf="moduleFormControl.module_sequence.errors.required">{{ validationMessage.common.requireError }}</span>
        </span>
      </div>
      <div class="form-group col-4">
        <label class="control-label">Icon</label>
        <input class="form-control" type="text" placeholder="Icon" 
        [ngClass]="{ 'is-invalid': (isModuleFormSubmitted || moduleFormControl.module_icon.dirty) && moduleFormControl.module_icon.errors }"
        formControlName="module_icon" required>
        <span *ngIf="(isModuleFormSubmitted || moduleFormControl.module_icon.dirty) && moduleFormControl.module_icon.errors" class="error">
          <span *ngIf="moduleFormControl.module_icon.errors.required">{{ validationMessage.common.requireError }}</span>
        </span>
      </div>
      </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" [disabled]="btnSpinner" *ngIf="formEditable" (click)="onModuleFormSubmit()"><i class="fa fa-sign-in fa-lg fa-fw" *ngIf="!btnSpinner"></i>Save</button>
    <button type="button" class="btn btn-secondary" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>