body {
  margin: 0px;
  padding: 0px;
  font-family: calibri;
}

.invoice {
  font-size: 14px;
  font-family: calibri;
  border: 1px solid #b9b7b7;
  pading-left: 50px;
  pading-right: 50px;
}

.invoice td {
  border-bottom: 1px solid #b9b7b7;
  border-right: 1px solid #b9b7b7;
}


/*.invoice td:last-child {
  border-right:1px solid #b9b7b700!important;
  }*/
