<div class="content-wrapper">
  <app-breadcrumb [breadcrumbData]="breadcrumbObj"></app-breadcrumb>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="card pdfdetaildata">
        <div class="card-header text-right">
          <!-- (click)="openPDF()" -->
          <button type="button" (click)="printInvoice()" class="btn btn-success"><i class="fa fa-download"
              aria-hidden="true"></i> Print Invoice
          </button>
        </div>

        <div class="card-body" id="content">

          <p align="center">Tax Invoice </p>
          <table class="invoice" width="95%" border="0" cellspacing="0" cellpadding="0" align="center">
            <tr>
              <td width="49%"><strong style="text-transform:uppercase">Food Safety and Standards Authority of
                  India</strong><br />
                FDA BHAWAN, 3RD AND 4TH FLOOR<br />
                KOTLA ROAD, DELHI, New Delhi - 110002<br />

                GSTIN/UIN: 07AAAGF0023K1ZV<br />
                State Name : Delhi, Code :07<br />
                Email: productapp@fssai.gov.in</td>
              <td width="51%" rowspan="2" valign="top">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td>Invoice No.<br />
                      <strong>
                        {{invoiceData.invoice_no}}
                      </strong>
                    </td>
                    <td style="border-right: 1px solid #b9b7b700!important;">Dated<br />
                      <strong>{{invoiceData.created_at | date: 'dd-MM-yyyy'}}</strong>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td>Buyer (Bill to) <br />
                <strong>{{invoiceData.applicant_name}}</strong><br />
                {{invoiceData.address}}
                <br />
                GSTIN/UIN&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;: {{gstNo}} <span></span><br />
                PAN/IT&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;: NA
                <span></span> <br />
                State Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : NA <span></span><br />
              </td>
            </tr>

            <tr>
              <td colspan="2">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="80%" valign="top" style="height:36px;">
                      <div align="center">Description of Services </div>
                    </td>
                    <td width="11%" valign="top">
                      <div align="center">HSN/SAC</div>
                    </td>
                    <td width="9%" valign="top" style="border-right: 1px solid #b9b7b700!important;">
                      <div align="center">Amount</div>
                    </td>
                  </tr>

                  <tr>
                    <td rowspan="5" valign="top" style="height:107px;border-bottom: 1px solid #b9b7b700!important;">

                      Product Approval Fee (ePAAS)<br />
                      <br />
                    </td>
                    <td valign="top" style="border-bottom: 1px solid #b9b7b700!important;">
                      <div align="center">852380</div>
                    </td>
                    <td valign="top"
                      style="border-bottom: 1px solid #b9b7b700!important;border-right: 1px solid #b9b7b700!important;">
                      <div align="center"><strong>{{applicationAmountInr | number : '1.2-2'}}</strong></div>
                    </td>
                  </tr>
                  <tr>
                    <td valign="top" style="border-bottom: 1px solid #b9b7b700!important;">
                      <div align="center">&nbsp;</div>
                    </td>
                    <td valign="top"
                      style="border-bottom: 1px solid #b9b7b700!important;border-right: 1px solid #b9b7b700!important;">
                      <div align="center"><strong>&nbsp;</strong></div>
                    </td>
                  </tr>
                  <tr>
                    <td valign="top" style="border-bottom: 1px solid #b9b7b700!important;">
                      <div align="center">&nbsp;</div>
                    </td>
                    <td valign="top"
                      style="border-bottom: 1px solid #b9b7b700!important;border-right: 1px solid #b9b7b700!important;">
                      <div align="center"><strong>&nbsp;</strong></div>
                    </td>
                  </tr>
                  <tr>
                    <td valign="top" style="border-bottom: 1px solid #b9b7b700!important;">
                      <div align="center">&nbsp;</div>
                    </td>
                    <td valign="top"
                      style="border-bottom: 1px solid #b9b7b700!important;border-right: 1px solid #b9b7b700!important;">
                      <div align="center"><strong>&nbsp;</strong></div>
                    </td>
                  </tr>
                  <tr>
                    <td valign="top" style="border-bottom: 1px solid #b9b7b700!important;">
                      <div align="center">&nbsp;</div>
                    </td>
                    <td valign="top"
                      style="border-bottom: 1px solid #b9b7b700!important;border-right: 1px solid #b9b7b700!important;">
                      &nbsp;</td>
                  </tr>
                  <tr *ngIf="iGstFlag == false">
                    <td style="border-bottom: 1px solid #b9b7b700!important;">
                      <div align="right">Output CGST @ 9% </div>
                    </td>
                    <td valign="top" style="border-bottom: 1px solid #b9b7b700!important;">
                      <div align="center"></div>
                    </td>
                    <td valign="top"
                      style="border-bottom: 1px solid #b9b7b700!important;border-right: 1px solid #b9b7b700!important;">
                      <div align="center"><strong>{{cGst | number : '1.2-2'}}</strong></div>
                    </td>
                  </tr>
                  <tr *ngIf="iGstFlag == false">
                    <td style="border-bottom: 1px solid #b9b7b700!important;">
                      <div align="right">Output SGST @ 9% </div>
                    </td>
                    <td valign="top" style="border-bottom: 1px solid #b9b7b700!important;">
                      <div align="center"></div>
                    </td>
                    <td valign="top"
                      style="border-bottom: 1px solid #b9b7b700!important;border-right: 1px solid #b9b7b700!important;">
                      <div align="center"><strong>{{sGst | number : '1.2-2'}}</strong></div>
                    </td>
                  </tr>
                  <tr *ngIf="iGstFlag == true">
                    <td style="border-bottom: 1px solid #b9b7b700!important;">
                      <div align="right">Output IGST @ 18% </div>
                    </td>
                    <td valign="top" style="border-bottom: 1px solid #b9b7b700!important;">
                      <div align="center"></div>
                    </td>
                    <td valign="top"
                      style="border-bottom: 1px solid #b9b7b700!important;border-right: 1px solid #b9b7b700!important;">
                      <div align="center"><strong>{{(cGst + sGst) | number : '1.2-2'}}</strong></div>
                    </td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td valign="top">
                      <div align="center"></div>
                    </td>
                    <td valign="top" style="border-right: 1px solid #b9b7b700!important;">
                      <div align="center"></div>
                    </td>
                  </tr>
                  <tr>
                    <td style="border-bottom: 1px solid #b9b7b700!important;">
                      <div align="right">Total</div>
                    </td>
                    <td valign="top" style="border-bottom: 1px solid #b9b7b700!important;">
                      <div align="center"></div>
                    </td>
                    <td valign="top"
                      style="border-bottom: 1px solid #b9b7b700!important;border-right: 1px solid #b9b7b700!important;">
                      <div align="center"><strong>{{totalAmountInr | number : '1.2-2'}}</strong></div>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td colspan="2" valign="top">Amount
                Chargeable (In Words) <br />
                <strong>INR {{totalAmountInWord}} Only </strong>
              </td>
            </tr>

            <tr>
              <td colspan="2">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="21%" rowspan="2" valign="top">
                      <div align="center">HSN/SAC</div>
                    </td>
                    <td width="28%" rowspan="2" valign="top">
                      <div align="center">Taxable Value </div>
                    </td>
                    <td colspan="2" valign="top" *ngIf="iGstFlag == false">
                      <div align="center">Central Tax </div>
                    </td>
                    <td colspan="2" valign="top" *ngIf="iGstFlag == false">
                      <div align="center">State Tax </div>
                    </td>
                    <td colspan="2" valign="top" *ngIf="iGstFlag == true">
                      <div align="center">Tax </div>
                    </td>
                    <td valign="top" style="border-right: 1px solid #b9b7b700!important;">
                      <div align="center">Total Tax Amount </div>
                    </td>
                  </tr>
                  <tr>
                    <td width="11%" *ngIf="iGstFlag == false">
                      <div align="center">Rate</div>
                    </td>
                    <td width="10%" *ngIf="iGstFlag == false">
                      <div align="center">Amount</div>
                    </td>
                    <td width="10%" *ngIf="iGstFlag == false">
                      <div align="center">Rate</div>
                    </td>
                    <td width="10%" *ngIf="iGstFlag == false">
                      <div align="center">Amount</div>
                    </td>
                    <td width="10%" *ngIf="iGstFlag == true">
                      <div align="center">Rate</div>
                    </td>
                    <td width="10%" *ngIf="iGstFlag == true">
                      <div align="center">Amount</div>
                    </td>
                    <td width="10%" style="border-right: 1px solid #b9b7b700!important;">
                      <div align="center"></div>
                    </td>
                  </tr>
                  <tr>
                    <td style="border-bottom: 1px solid #b9b7b700!important;">
                      <div align="center">852380</div>
                    </td>
                    <td style="border-bottom: 1px solid #b9b7b700!important;">
                      <div align="center">{{applicationAmountInr | number : '1.2-2'}}</div>
                    </td>
                    <td style="border-bottom: 1px solid #b9b7b700!important;" *ngIf="iGstFlag == false">
                      <div align="center">9%</div>
                    </td>
                    <td style="border-bottom: 1px solid #b9b7b700!important;" *ngIf="iGstFlag == false">
                      <div align="center">{{cGst | number : '1.2-2'}}</div>
                    </td>
                    <td style="border-bottom: 1px solid #b9b7b700!important;" *ngIf="iGstFlag == false">
                      <div align="center">9%</div>
                    </td>
                    <td style="border-bottom: 1px solid #b9b7b700!important;" *ngIf="iGstFlag == false">
                      <div align="center">{{sGst | number : '1.2-2'}}</div>
                    </td>
                    <td style="border-bottom: 1px solid #b9b7b700!important;" *ngIf="iGstFlag == true">
                      <div align="center">18%</div>
                    </td>
                    <td style="border-bottom: 1px solid #b9b7b700!important;" *ngIf="iGstFlag == true">
                      <div align="center">{{cGst + sGst | number : '1.2-2'}}</div>
                    </td>
                    <td
                      style="border-bottom: 1px solid #b9b7b700!important;border-right: 1px solid #b9b7b700!important;">
                      <div align="center">{{totalGst | number : '1.2-2'}}</div>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td colspan="2" valign="top"
                style="height:36px;border-bottom: 1px solid #b9b7b700!important;padding-top:5px;">
                Tax Amount (in words): <strong>INR {{taxAmountInWord}} Only </strong></td>
            </tr>
            <tr>
              <td
                style="height: 100px; border-bottom: 1px solid #b9b7b700!important;border-right: 1px solid #b9b7b700!important;">
                &nbsp;</td>
              <td style="height:100px;">
                &nbsp;</td>
            </tr>

            <tr>
              <td rowspan="2" style="height:90px;">&nbsp;</td>
              <td valign="top" style="border-bottom: 1px solid #b9b7b700!important;border-top:1px solid #b9b7b7;">
                For <strong style="text-transform:uppercase;">Food Safety and Standards Authority of India</strong></td>
            </tr>
            <tr>
              <td valign="bottom">
                <div align="right">Authorised Signatory </div>
              </td>
            </tr>
          </table>

          <p align="center">Whether tax is payable under reverse charge - No<br>Signature not required, This is a
            System Generated invoice.</p>

        </div>


      </div>
    </div>
  </section>
</div>
