/* You can add global styles to this file, and also import other style files */

@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~@danielmoncada/angular-datetime-picker/assets/style/picker.min.css";

/* material style
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */


/* my custom css */

.table-row-img {
    width: 70px;
    margin: 0px, auto, 0px, auto;
}

.cdk-overlay-container {
    z-index: 1200 !important;
}

.error {
    color: red !important;
}

.table-responsive {
    max-width:100%;
}
.actionbtn{width: 170px;}
pagination-template{text-align: center;}
.ngx-pagination{padding-left: 0;}
.ngx-pagination li {border: 1px dotted #2199e8;}

.actionData {
    min-width: 165px;
}