<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <app-breadcrumb [breadcrumbData]="breadcrumbObj"></app-breadcrumb>
    <!-- <div *ngIf="userData.role_id==1"> -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-info">
                            <div class="card-header">
                                <h3 class="card-title"></h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                     <i class="fas fa-minus"></i></button>

                                </div>
                            </div>
                            <div class="card-body">
                                <ngx-spinner name="dashboardCounterLoader" [fullScreen]="false" type="timer" size="medium"></ngx-spinner>
                                <div class="row" style="margin-bottom: 10px">
                                    <div class="col-lg-4 col-6">
                                        <!-- small box -->
                                        <div class="small-box bg-info">
                                            <div class="inner">
                                                <h3>{{pendingApplication}}</h3>

                                                <p>Pending Application</p>
                                            </div>
                                            <div class="icon">
                                                <i class="ion ion-bag"></i>
                                            </div>
                                            <a href="javascript:void(0)" class="small-box-footer" (click)="detailApplication(1)">Detail <i class="fas fa-arrow-circle-right"></i></a>
                                        </div>
                                    </div>
                                    <!-- ./col -->
                                    <div class="col-lg-4 col-6">
                                        <!-- small box -->
                                        <div class="small-box bg-success">
                                            <div class="inner">
                                                <h3>{{approveApplication}}<sup style="font-size: 20px"></sup></h3>

                                                <p>Approved Application</p>
                                            </div>
                                            <div class="icon">
                                                <i class="ion ion-stats-bars"></i>
                                            </div>
                                            <a href="javascript:void(0)" class="small-box-footer" (click)="detailApplication(2)">Detail <i class="fas fa-arrow-circle-right"></i></a>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-6">
                                        <!-- small box -->
                                        <div class="small-box bg-danger">
                                            <div class="inner">
                                                <h3>{{rejectApplication}}</h3>
                                                <h3> </h3>

                                                <p>Rejected Application</p>
                                            </div>
                                            <div class="icon">
                                                <i class="ion ion-pie-graph"></i>
                                            </div>
                                            <a href="javascript:void(0)" class="small-box-footer" (click)="detailApplication(3)">Detail <i class="fas fa-arrow-circle-right"></i></a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ./col -->
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">{{applicationListLabel}}</h5>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">    <i class="fas fa-minus"></i>               </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <ngx-spinner name="dashboardDetailLoader" [fullScreen]="false" type="timer" size="medium"></ngx-spinner>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <table class="table m-0">
                                                <thead>
                                                    <tr>
                                                        <th>S. No.</th>
                                                        <th>Application No.</th>
                                                        <th>Applicant Name</th>
                                                        <th>Organisation Name</th>
                                                        <th>Submitted On</th>
                                                        <th>Status</th>
                                                        <th>{{applicationColumnLabel}}</th>
                                                        <th>Officer Name</th>

                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    <tr *ngFor="let adminDashboardData of adminDashboardList  | paginate: paginateConfig;let i = index">
                                                        <td>{{paginateConfig.startIndex+i}}</td>
                                                        <td>{{adminDashboardData.application_no}}</td>
                                                        <td>{{adminDashboardData.applicant_name}}</td>
                                                        <td>{{adminDashboardData.organization_name}}</td>
                                                        <td>{{adminDashboardData.created_on | date: 'dd-MM-yyyy h:mm a'}}</td>
                                                        <td>{{adminDashboardData.application_status}}</td>
                                                        <td>{{adminDashboardData.officer_role}}</td>
                                                        <td>{{adminDashboardData.officer_name}}</td>
                                                        <td>
                                                            <button class="btn btn-primary btn-xs">View Application</button> &nbsp;
                                                            <button class="btn btn-warning btn-xs" (click)="viewApplicationHistory(adminDashboardData,userModal)">View Application History</button>
                                                        </td>

                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <pagination-controls (pageChange)="getDashboardDetail($event)" id="server"></pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    <!-- </div> -->
</div>
<ngx-spinner name="dashboardHistoryLoader" [fullScreen]="false" type="timer" size="medium"></ngx-spinner>

<ng-template #userModal let-modal>

    <div class="modal-header primary">
        <h4 class="modal-title" id="modal-basic-title">Official remarks history</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
    </div>
    <div class="modal-body" *ngIf="adminDashboardApplicationHistory.length>0">
        <div class="profile-feed" *ngFor="let adminDashboardApplicationHistoryData of adminDashboardApplicationHistory">
            <div class="d-flex align-items-start profile-feed-item">
                <div class="ml-4">
                    <h6>
                        {{adminDashboardApplicationHistoryData.role_name}}
                        <small class="ml-4 text-muted"><i class="fa fa-clock mr-1"></i> {{adminDashboardApplicationHistoryData.assigned_dated_on | date: 'dd-MM-yyyy h:mm a'}}</small>
                    </h6>
                    <p> {{adminDashboardApplicationHistoryData.remarks}} </p>
                </div>
            </div>
            <hr>

        </div>
    </div>
    <div class="modal-body" *ngIf="adminDashboardApplicationHistory.length==0">
        No History found
    </div>

    <!-- <div class="modal-footer">
        <button type="button" class="btn btn-primary" [disabled]="btnSpinner" *ngIf="formEditable" (click)="onRegisterFormSubmit()"><i class="fa fa-sign-in fa-lg fa-fw" *ngIf="!btnSpinner"></i>Save</button>
        <button type="button" class="btn btn-secondary" (click)="modal.close('Save click')">Close</button>
    </div> -->
</ng-template>