<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <app-breadcrumb [breadcrumbData]="breadcrumbObj"></app-breadcrumb>
    <div>
        <section class="content">
            <input type="hidden" name="" [(ngModel)]="application_id" />
            <input type="hidden" name="" [(ngModel)]="user_id" />
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-container">


                            <button (click)="createOrder()">Pay</button>
                        </div>
                    </div>
                    <!-- ./col -->
                </div>


            </div>
        </section>
    </div>
</div>



<ngx-spinner name="dashboardHistoryLoader" [fullScreen]="false" type="timer" size="medium"></ngx-spinner>